		<div class="content-body"><!-- Basic Inputs start -->
			
			<section class="basic-inputs">
				<div class="row match-height">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-body">
								<h2 class="text-center">
									<i class="la la-hand-o-right" style="font-size: 25px;"></i>
									Trao giải thưởng
								</h2>
							</div>
			
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-between">
						<div class="row breadcrumbs-top">
							<div class="breadcrumb-wrapper col-12">
							  <ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/admin/list-campaign-awards">
										Trao giải thưởng
									</a>
								</li>
								<li class="breadcrumb-item active">
									<i class="la la-angle-right"></i>
									<%= infoCampaign.campaignName %>
								</li>
							  </ol>
							</div>
						</div>
						<div class="form-group">
							<label for="statusCampaign" class="mr-1">Trạng thái</label>
							<input type="checkbox" id="statusCampaign" class="switchery" <%= infoCampaign.status === 1 ? 'checked' : '' %> />
							<label for="statusCampaign" class="font-medium-2 ml-1">
								<%= infoCampaign.status === 0 ? 'Đã dừng' : (
									infoCampaign.status === 1 ? 'Đang chạy' : 'Đã kết thúc') 
								%>
							</label>
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
						<div class="card">
							<div class="card-header" style="padding-bottom: 0;">
								<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
									<i class="la la-info-circle"></i>
									Thông tin chiến dịch
								</button>
							</div>
			
							<div class="card-body">

								<div class="row">
									<div class="col-4">
										<p>Tên chiến dịch</p>
										<fieldset class="form-group">
											<input type="text" id="inputNameCampaign" class="form-control" disabled value="<%= infoCampaign.campaignName %>">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Ngày bắt đầu</p>
										<fieldset class="form-group">
											<input type="date" class="form-control" id="inputDateStart" disabled value="<%= moment(infoCampaign.dateStart).format('YYYY-MM-DD') %>">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Ngày kết thúc</p>
										<fieldset class="form-group">
											<input type="date" class="form-control" id="inputDateEnd" disabled value="<%= moment(infoCampaign.dateEnd).format('YYYY-MM-DD') %>">
										</fieldset>
									</div>
								</div>

								<div class="row d-flex justify-content-end mt-4">
									<a href="/admin/update-campaign-awards?campaignID=<%= infoCampaign._id %>" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
										Thay đổi thông tin
									</a>
									<button type="button" class="btn btn-outline-secondary btn-min-width mr-1 mb-1" id="btnDeleteCampaign" data-action="reload" __campaignID="<%= infoCampaign._id %>">
										Xoá
									</button>
								</div>

							</div>
			
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
						<div class="card">
							<div class="card-header d-flex justify-content-end" style="padding-bottom: 0;">
								<a href="/admin/add-milestone-campaign-awards?campaignID=<%= infoCampaign._id %>" class="btn btn-warning btn-min-width mr-1 mb-1">
									<i class="ft-plus-circle"></i>
									Thêm Mốc
								</a>
							</div>
			
							<div class="card-body card-dashboard">
								<div class="table-responsive">
									<table class="table table-data">
										<thead>
											<tr>
												<th>#</th>
												<th class="text-left">Tên mốc</th>
												<th class="text-center">Từ ... lần trao</th>
												<th class="text-center">Đến ... lần trao</th>
												<th class="text-center">Token/Lần</th>
												<th class="text-center">Thao tác</th>
											</tr>
										</thead>
										<tbody>
											<% if (listMilestone && listMilestone.length) { %>
												<% listMilestone.forEach(milestone => { %>
													<tr>
														<td>
															<span class="text-warning"> #<%= milestone.milestoneID %> </span>
														</td>
														<td class="text-left">
															<span class="text-warning"> <%= milestone.milestoneName %> </span>
														</td>
														<td class="text-center">
															<%= milestone.fromNumAwards %>
														</td>
														<td class="text-center">
															<%= milestone.toNumAwards === -1 ? 'Không giới hạn' : milestone.toNumAwards %>
														</td>
														<td class="text-center">
															<%= milestone.tokenAmount %>
														</td>
														<td class="text-center">
															<a href="/admin/update-milestone-campaign-awards?milestoneID=<%= milestone._id %>&campaignID=<%= infoCampaign._id %>" class="btn-icon-custom">
																<i class="la la-eyedropper" style="font-size: 1.5rem;"></i>
															</a>
															<a href="javascript:void(0)" class="btn-icon-custom btn-remove-milestone" _milestoneID="<%= milestone._id %>">
																<i class="la la-trash" style="font-size: 1.5rem;"></i>
															</a>
														</td>
													</tr>
												<% }) %>
											<% } %>

										</tbody>
									</table>
								</div>
							</div>
			
						</div>
					</div>

				</div>
			</section>

		</div>
	</div>
</div>
<!-- END: Content-->
