<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Giải đấu tạo bài viết
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="row breadcrumbs-top">
					<div class="breadcrumb-wrapper col-12">
					  <ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/admin/list-campaign-create-post">
								Giải đấu đăng bài
							</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#">
								<i class="la la-angle-right"></i>
								<%= infoCampaign.campaignName %>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#">
								<i class="la la-angle-right"></i>
								<%= infoMilestone.milestoneName %>
							</a>
						</li>
						<li class="breadcrumb-item active">
							<i class="la la-angle-right"></i>
							Thay đổi thiết lập
						</li>
					  </ol>
					</div>
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header" style="padding-bottom: 0;">
						<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
							<i class="la la-info-circle"></i>
							Thiết lập mốc
						</button>
					</div>

					<div class="card-body">

						<div class="row">
							<div class="col-4">
								<p>Tên mốc</p>
								<fieldset class="form-group">
									<input type="text" id="inputNameMilestone" class="form-control" placeholder="......" value="<%= infoMilestone.milestoneName %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Số lượng bài viết</p>
								<fieldset class="form-group">
									<input type="number" class="form-control" id="inputNumPost" placeholder="1" value="<%= infoMilestone.numPost %>" <%= infoMilestone.continuous && 'disabled' %>>
								</fieldset>
							</div>
							<div class="col-2">
								<p>Chu kì bài viết (ngày)</p>
								<fieldset class="form-group">
									<input type="number" class="form-control" id="inputPeriod" placeholder="1" value="<%= infoMilestone.period %>">
								</fieldset>
							</div>
							<div class="col-2">
								<p>Đều mỗi ngày</p>
								<fieldset class="form-group mt-2">
									<input type="checkbox" id="inputContinuous" <%= infoMilestone.continuous && 'checked' %>>
								</fieldset>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col-4">
								<p>Giới hạn số lần tích điểm</p>
								<fieldset class="form-group">
									<input type="number" class="form-control" id="inputLimit" placeholder="1" value="<%= infoMilestone.limit %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Số token / Lần</p>
								<fieldset class="form-group">
									<input type="number" class="form-control" id="inputTokenAmount" placeholder="1" value="<%= infoMilestone.tokenAmount %>">
								</fieldset>
							</div>
							<div class="col-2">
								<p>Delay time (ngày)</p>
								<fieldset class="form-group">
									<input type="number" class="form-control" id="inputDelayTime" placeholder="1" value="<%= infoMilestone.delayTime %>">
								</fieldset>
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-outline-warning mb-1 btn-open-popup-config-point" style="margin-top: 32px;">
									<i class="ft-settings"></i>
								</button>
							</div>
						</div>

						<div class="row d-flex justify-content-end mt-4">
							<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1" id="btnUpdateMilestone" data-action="reload" __milestoneID="<%= infoMilestone._id %>">
								Lưu thay đổi
							</button>
							<a href="/admin/list-milestone-campaign-create-post?campaignID=<%= infoCampaign._id %>" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
								Huỷ
							</a>
						</div>

					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->


<!-- Modal -->
<div class="modal fade text-left" id="modal-config-point" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
aria-hidden="true">
   <div class="modal-dialog" role="document">
	   <div class="modal-content">
		   <div class="modal-header bg-warning white">
				<h4 class="modal-title white" id="myModalLabel12">
					<i class="ft-settings"></i>
				   Cấu hình điểm theo từng ngày
				</h4>
			   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				   <span aria-hidden="true">&times;</span>
			   </button>
		   </div>
		   <div class="modal-body">
				<div class="container-date-list mt-2">
					<% if (listDateMilestone && listDateMilestone.length) { %>
						<% listDateMilestone.forEach(dateMilestone => { %>
							<div class="input-group mb-1">
								<span class="input-group-text">Ngày</span>
								<input type="number" class="form-control input-date-create-post" value="<%= dateMilestone.date %>" disabled>
								<span class="input-group-text">Token</span>
								<input type="number" class="form-control input-point-create-post" placeholder="1.5" value="<%= dateMilestone.point %>">
							</div>
						<% }) %>
					<% } %>
				</div>
		   </div>
		   <div class="modal-footer">
			   <button type="button" class="btn btn-warning" data-dismiss="modal">Lưu</button>
		   </div>
	   </div>
   </div>
</div>