<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestoneApproveTeam').on('click', function () {
			const campaignID	= campaignIDParam;
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromNumTeam 	= $('#inputFromTeam').val().trim();
			const toNumTeam		= $('#inputToTeam').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!campaignIDParam){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumTeam){
				return AlertCustom({ title: "Bạn cần nhập mốc lần duyệt", icon: 'warning' });
			}

			if(+fromNumTeam > +toNumTeam && toNumTeam !== -1){
				return AlertCustom({ title: "Phạm vi lần duyệt không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.ADD_MILESTONE_CAMPAIGN_APPROVE_TEAM %>`,
				data: { campaignID, milestoneName, fromNumTeam, toNumTeam, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputFromTeam').val('');
				$('#inputToTeam').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>