<script>
	$(document).ready(function () {

		$('#btnUpdateMilestoneApproveTeam').on('click', function () {
			const milestoneID 	= $(this).attr('__milestoneID');
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromNumTeam 	= $('#inputFromTeam').val().trim();
			const toNumTeam		= $('#inputToTeam').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumTeam){
				return AlertCustom({ title: "Bạn cần nhập mốc lần duyệt", icon: 'warning' });
			}

			if(+fromNumTeam > +toNumTeam && toNumTeam !== -1){
				return AlertCustom({ title: "Phạm vi lần duyệt không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.UPDATE_MILESTONE_CAMPAIGN_APPROVE_TEAM %>`,
				data: { milestoneID, milestoneName, fromNumTeam, toNumTeam, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>