<script>
	$(document).ready(function () {
		let params = new URLSearchParams(location.search);
        let userID = params.get("user");

		$(".table-data").DataTable({
			...languageDataTable,
			"pageLength": 25,
			"processing": true,
        	"serverSide": true,
			"ajax": {
				"type": "GET",
				"url": `<%= CF_ROUTINGS_HISTORY.API_GET_LIST_HISTORY_GROUP_BY_USER %>`,
				"dataType": "json",
				"contentType": 'application/json; charset=utf-8',
			},
			"columns": [
                { "data": "index" },
                { "data": "userID" },
                { "data": "afterPoint" },
                { "data": "createAt" },
                { "data": "campaignName" },
                { "data": "milestoneName" },
            ],
		})

		$(".table-data-history-user").DataTable({
			...languageDataTable,
			"pageLength": 25,
			"processing": true,
        	"serverSide": true,
			"ajax": {
				"type": "GET",
				"url": `<%= CF_ROUTINGS_HISTORY.API_GET_LIST_HISTORY_BY_USER %>?user=${userID}`,
				"dataType": "json",
				"contentType": 'application/json; charset=utf-8',
			},
			"columns": [
                { "data": "index" },
                { "data": "seasonID" },
                { "data": "rule" },
                { "data": "currentPoint" },
                { "data": "newPoint" },
                { "data": "afterPoint" },
                { "data": "status" },
                { "data": "milestoneName" },
                { "data": "createAt" },
            ],
		})
	});
</script>