<script>
	$(document).ready(function () {
        let params = new URLSearchParams(location.search);
        let userID = params.get("user");

		$(".table-data").DataTable({
			...languageDataTable,
			"pageLength": 25,
			"processing": true,
        	"serverSide": true,
			"ajax": {
				"type": "GET",
				"url": `<%= CF_ROUTINGS_HISTORY.API_GET_LIST_HISTORY_BY_USER %>?user=${userID}`,
				"dataType": "json",
				"contentType": 'application/json; charset=utf-8',
			},
			"columns": [
                { "data": "index" },
				{ "data": "seasonID" },
                { "data": "rule" },
                { "data": "currentPoint" },
                { "data": "newPoint" },
                { "data": "afterPoint" },
                { "data": "status" },
                { "data": "milestoneName" },
                { "data": "createAt" },
            ],
            // initComplete: function () {

			// 	$('#tableList${NAME_SCHEMA.toCapitalize()} thead th.input-search-filter').each( function () {
			// 		$(this).html( '<input type="text" class="form-control" />' );
			// 	} );

			// 	// Apply the search
			// 	this.api().columns().eq( 0 ).each( function ( colIdx ) {
			// 		var that = this;

			// 		$( 'input', this.column( colIdx ).header() ).on( 'keyup change', function () {
			// 			that
			// 				.column( colIdx )
			// 				.search( this.value )
			// 				.draw();
			// 		} );
			// 	} );

			// },
		})
	});
</script>