<script>
	$(document).ready(function () {

		initEditor('#inputContentCampaign', {
			height: 400
		});

		let icon = null;

		const uploadIconCampaign = async files => {
			if(files.length){
				await addFileToUpload(files, links => {
					const { name, size } = files[0];
					const uri = links[0].uri;

					icon = {
						name,
						size,
						path: uri,
					};

				}, percentage => {
					percentage = `${Math.ceil(percentage)}%`;
					console.log({ percentage });
				})
			}
		}

		$("#inputIcon").on('change', function(){
			const files = $(this).prop('files');
			changePreviewImage(files);
			uploadIconCampaign(files);
		});

		$('#btnUpdateCampaign').on('click', function () {
			const campaignID 	= $(this).attr('__campaignID');
			const campaignName 	= $('#inputNameCampaign').val().trim();
			const dateStart 	= $('#inputDateStart').val().trim();
			const dateEnd 		= $('#inputDateEnd').val().trim();
			const content 		= tinymce.activeEditor.getContent();

			if(!campaignID){
				return AlertCustom({ title: "Campaign ID không tồn tại", icon: 'warning' });
			}

			if(!campaignName){
				return AlertCustom({ title: "Bạn cần nhập tên chiến dịch", icon: 'warning' });
			}

			if(!dateStart || !dateEnd){
				return AlertCustom({ title: "Bạn cần nhập ngày bắt đầu và ngày kết thúc chiến dịch", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.UPDATE_CAMPAIGN_UPDATE_RESULT %>`,
				data: { campaignID, campaignName, dateStart, dateEnd, content, icon },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật chiến dịch thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>