<script>
	$(document).ready(function () {

		$(".table-data").DataTable({
			...languageDataTable
		})

		let urlParams = new URLSearchParams(location.search);
        let statusParam = urlParams.get('status');

        statusParam && $('#scStatusCampaign').val(statusParam);

		$('#scStatusCampaign').on('change', function () {
			const value = $(this).val();
			changeQuery({
				query: "status",
				value,
				url: `<%= CF_ROUTINGS_CAMPAIGN_CONFIRM.GET_LIST_CAMPAIGN_CONFIRM %>`,
				urlParams
			})
		});

		$(document).on('click', '.btn-remove-campaign', async function () {
			const campaignID = $(this).attr('_campaignID');

			await ConfirmCustomAjax({
                title: 'Bạn có chắc chắn muốn xoá chiến dịch?',
                icon: 'question',
                cb: result => {
                    const { error, message } = result.value;

                    if (error) {
                        return AlertCustom({
                            title: message,
                            icon: 'warning'
                        });
                    }

                    $(this).closest('tr').remove();
                    AlertCustom({
                        title: 'Xoá chiến dịch thành công',
                        icon: 'success'
                    });
                },
                preConfirm: () => {
                    if (!campaignID) {
                        return AlertCustom({
                            title: 'Không thể xoá chiến dịch vui lòng thử reload lại trang',
                            icon: 'warning'
                        });
                    }

                    return $.ajax({
                        type: "DELETE",
                        url: `<%= CF_ROUTINGS_CAMPAIGN_CONFIRM.DELETE_CAMPAIGN_CONFIRM %>?campaignID=${campaignID}`,
                    })
                }
            });
		});

	});
</script>