<script>
	$(document).ready(function () {

		$('#tableListUser').DataTable({
			'iDisplayLength': 50,
			responsive: true,
			...languageDataTable
		});

		let urlParams 		= new URLSearchParams(location.search);
        let statusParam 	= urlParams.get('status');
		let userIDPrevious 	= '';

        statusParam && $('#scStatusUser').val(statusParam);

		$('#scStatusUser').on('change', function () {
			const value = $(this).val();
			changeQuery({
				query: "status",
				value,
				url: `<%= CF_ROUTINGS_USER.LIST_USER %>`,
				urlParams
			})
		});

		let checkValidate = params => {
            let { fullname, email, password, role, status, type } = params;

			if(type === 'CREATE'){
				if(!fullname) 					return { error: true, msg: 'Bạn cần nhập tên cho user' };
				if(!validEmail(email)) 			return { error: true, msg: 'Email không hợp lệ' };
				if(!password) 					return { error: true, msg: 'Bạn cần nhập mật khẩu cho user' };
				if(![0,1].includes(+role)) 		return { error: true, msg: 'Quyền không hợp lệ' };
				if(![0,1].includes(+status)) 	return { error: true, msg: 'Trạng thái không hợp lệ' };
			}

			if(type === 'UPDATE'){
				if(!fullname) 					return { error: true, msg: 'Bạn cần nhập tên cho user' };
				if(![0,1].includes(+role)) 		return { error: true, msg: 'Quyền không hợp lệ' };
				if(![0,1].includes(+status)) 	return { error: true, msg: 'Trạng thái không hợp lệ' };
			}

            return { error: false };
        }

		let getFormUser = ({ type = 'CREATE' }) => {
			let fullname, email, password, role, status;

			if(type === 'CREATE'){
				fullname 	= $('#inputFullname').val().trim();
				email 		= $('#inputEmail').val().trim();
				password 	= $('#inputPassword').val().trim();
				role 		= $('#scUserRole').val();
				status 		= $('#statusUser').is(':checked') ? 1 : 0;
			}

			if(type === 'UPDATE'){
				fullname 	= $('#inputUpdateFullname').val().trim();
				password 	= $('#inputUpdatePassword').val().trim();
				role 		= $('#scUpdateRole').val();
				status 		= $('#statusUserUpdate').is(':checked') ? 1 : 0;
			}

            return { fullname, email, password, role, status, type };
        }

		// ----------- CREATE USER ---------------
		$('.btn-show-modal-create-user').on('click', function () {
			$('.modal-create-user').modal('show');
		});

		$('#btnConfirmCreateUser').on('click', function () {
			const dataCreate 	 = getFormUser({});
			const { error, msg } = checkValidate(dataCreate);

			if(error){
				return AlertCustom({ title: msg, icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_USER.ADD_USER %>`,
				data: dataCreate,
			}).done(resp => {
				console.log({ resp });
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('.modal-create-user').modal('hide');
				AlertCustom({ title: 'Tạo thành công', icon: 'success' });

				setTimeout(() => location.reload(), 1000);
			}).fail(err => AlertCustom({ title: err.message, icon: 'error' }))
		});


		// ----------- UPDATE USER ---------------
		$('.btn-show-modal-update-user').on('click', function () {
			const userID = $(this).attr('_userID');

			if(userID !== userIDPrevious){
				userIDPrevious = userID;

				$.ajax({
					type: 'GET',
					url: `<%= CF_ROUTINGS_USER.INFO_USER %>?userID=${userID}`,
				}).done(resp => {
					const { error, message, data } = resp;

					if(error){
						return AlertCustom({ title: message, icon: 'warning' });
					}

					const { fullname, email, role, status } = data;
					$('#inputUpdateFullname').val(fullname);
					$('#inputUpdateEmail').val(email);
					$('#inputUpdatePassword').val('');
					$('#scUpdateRole').val(role);
					$('#btnConfirmUpdateUser').attr('_userID', userID);

					let isChecked = $('#statusUserUpdate').is(':checked');
					if(status === 1){
						!isChecked && $('#statusUserUpdate').trigger('click');
					} else{
						isChecked && $('#statusUserUpdate').trigger('click');
					}

				}).fail(err => AlertCustom({ title: err.message, icon: 'error' }))
			}

			$('.modal-update-user').modal('show');
		});

		$('#btnConfirmUpdateUser').on('click', function () {
			const userID 		 = $(this).attr('_userID');
			const dataUpdate 	 = getFormUser({ type: 'UPDATE' });
			const { error, msg } = checkValidate(dataUpdate);

			if(error){
				return AlertCustom({ title: msg, icon: 'warning' });
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_USER.UPDATE_USER %>`,
				data: { ...dataUpdate, userID }
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('.modal-update-user').modal('hide');
				AlertCustom({ title: 'Cập nhật thành công', icon: 'success' })

				setTimeout(() => location.reload(), 800);
			}).fail(err => AlertCustom({ title: err.message, icon: 'error' }))
		});


		// ----------- DELETE USER ---------------
		$('.btn-remove-user').on('click', async function () {
			const userID = $(this).attr('_userID');

			await ConfirmCustomAjax({
                title: 'Bạn có chắc chắn muốn xoá USER?',
                icon: 'question',
                cb: result => {
                    const { error, message } = result.value;

                    if (error) {
                        return AlertCustom({
                            title: message,
                            icon: 'warning'
                        });
                    }

                    $(this).closest('tr').remove();
                    AlertCustom({
                        title: 'Xoá USER thành công',
                        icon: 'success'
                    });
                },
                preConfirm: () => {
                    if (!userID) {
                        return AlertCustom({
                            title: 'Không thể xoá USER vui lòng thử reload lại trang',
                            icon: 'warning'
                        });
                    }

                    return $.ajax({
                        type: "DELETE",
                        url: `<%= CF_ROUTINGS_USER.DELETE_USER %>?userID=${userID}`,
                    })
                }
            });
		});

	});
</script>