<style>
	.table-data tbody td{
		text-align: center !important;
	}
</style>

<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="ft-lock" style="font-size: 25px;"></i>
							Quản lý user
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header d-flex justify-content-between" style="padding-bottom: 0;">
						<fieldset class="form-group position-relative">
							<select class="form-control" id="scStatusUser">
								<option selected value="null">Trạng thái</option>
								<option value="1">Đang hoạt động</option>
								<option value="0">Không hoạt động</option>
							</select>
						</fieldset>
						<button class="btn btn-warning btn-min-width mr-1 mb-1 btn-show-modal-create-user">
							<i class="ft-plus-circle"></i>
							Thêm user
						</button>
					</div>
	
					<div class="card-body card-dashboard">
						<div class="table-responsive">
							<table class="table table-data" id="tableListUser">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center">Tên</th>
										<th class="text-center">Email</th>
										<th class="text-center">Role</th>
										<th class="text-center">Trạng thái</th>
										<th class="text-center">Ngày tạo</th>
										<th class="text-center">#</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listUser && listUser && listUser.length) { %>
                                        <% listUser.forEach(( user, index ) => { %>
											<tr>
												<td>
													<%= index + 1 %>
												</td>
												<td class="text-center">
													<i>
														<%= user.fullname %>
													</i>
												</td>
												<td class="text-center">
													<i>
														<%= user.email %>
													</i>
												</td>
												<td class="text-center">
													<%= user.role === 0 ? 'ADMIN' : 'EDITER' %>
												</td>
												<td class="text-center">
													<h5>
														<% if (user.status === 1) { %>
															<span class="badge badge-custom round badge-success">
																Hoạt Động
															</span>
														<% } else{ %>
															<span class="badge badge-custom round badge-secondary">
																Không Hoạt Động
															</span>
														<% } %>
													</h5>
												</td>
												<td class="text-center">
													<%= moment(user.createAt).format('L') %> 
												</td>
												<td class="text-center">
													<a href="javascript:void(0)" class="btn-icon-custom btn-show-modal-update-user" _userID="<%= user._id %>">
														<i class="la la-eyedropper" style="font-size: 1.5rem;"></i>
													</a>
													<a href="javascript:void(0)" class="btn-icon-custom btn-remove-user" _userID="<%= user._id %>">
														<i class="la la-trash" style="font-size: 1.5rem;"></i>
													</a>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->


<!-- POPUP CREATE USER -->
<div class="modal fade modal-create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header white">
				<h5 class="modal-title">Tạo User</h5>
			</div>
            <div class="card-body">
				<div class="form-group"><label>Tên hiển thị</label> 
                    <input type="text" class="form-control" placeholder="Nhập tên hiển thị" id="inputFullname">
                </div>
				<div class="form-group"><label>Email</label> 
                    <input type="email" class="form-control" placeholder="Nhập Email" id="inputEmail">
                </div>
				<div class="form-group"><label>Mật khẩu</label> 
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="inputPassword">
                </div>

				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<div>
								<label class="col-form-label">
									Phân quyền
								</label>
							</div>
							<div>
								<select class="form-control" id="scUserRole">
									<option value="0"> Admin </option>
									<option value="1"> Editor </option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group mt-2">
							<label>Trạng Thái</label>
							<div class="form-group">
								<input type="checkbox" id="statusUser" class="switchery" />
							</div>
						</div>
					</div>
				</div>
				<hr>

				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-warning btn-min-width" id="btnConfirmCreateUser">Tạo</button>
				</div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP UPDATE USER -->
<div class="modal fade modal-update-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header white">
				<h5 class="modal-title">Cập nhật User</h5>
			</div>
            <div class="card-body">
				<div class="form-group"><label>Tên hiển thị</label> 
                    <input type="text" class="form-control" placeholder="Nhập tên hiển thị" id="inputUpdateFullname">
                </div>
				<div class="form-group"><label>Email</label> 
                    <input type="email" class="form-control" placeholder="Nhập Email" id="inputUpdateEmail" disabled>
                </div>
				<div class="form-group"><label>Mật khẩu</label> 
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="inputUpdatePassword">
                </div>

				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<div>
								<label class="col-form-label">
									Phân quyền
								</label>
							</div>
							<div>
								<select class="form-control" id="scUpdateRole">
									<option value="0"> Admin </option>
									<option value="1"> Editor </option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group mt-2">
							<label>Trạng Thái</label>
							<div class="form-group">
								<input type="checkbox" id="statusUserUpdate" class="switchery" />
							</div>
						</div>
					</div>
				</div>
				<hr>

				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-warning btn-min-width" id="btnConfirmUpdateUser">Cập nhật</button>
				</div>
            </div>
        </div>
    </div>
</div>