<style>
	.table-data-history-user tbody td,
	.table-data-history-user thead th{
		text-align: center !important;
		padding: 20px !important;
	}
	#DataTables_Table_0_filter{
		display: none;
	}
</style>

<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center text-title">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							<span>Thống kê hệ thống</span>
						</h2>
					</div>
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header d-flex justify-content-start" style="padding-bottom: 0;">
						<div class="col-3">
							<p>Từ ngày</p>
							<fieldset class="form-group">
								<input type="date" class="form-control" id="inputFromDate">
							</fieldset>
						</div>
						<div class="col-3">
							<p>Đến ngày</p>
							<fieldset class="form-group">
								<input type="date" class="form-control" id="inputToDate">
							</fieldset>
						</div>
						<div class="col-3">
							<p>User ID</p>
							<fieldset class="form-group">
								<input type="text" class="form-control" id="inputSearchUser" placeholder="VD: 123456">
							</fieldset>
						</div>
						<div class="col-4">
							<p style="visibility: hidden;">
								Hidden Text
							</p>
							<button type="button" class="btn btn-warning btn-min-width mb-1" id="btnSearch" data-action="reload">
								<i class="ft-search"></i>
								Tìm kiếm
							</button>
							<button type="button" class="btn btn-secondary btn-min-width mr-1 mb-1" id="btnDiscardFilter" data-action="reload">
								<i class="ft-rotate-ccw"></i>
								Reset
							</button>
						</div>
					</div>

					<div class="card-body card-dashboard">
						<div class="table-responsive">
							<table class="table table-data-history-user">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center">User ID</th>
										<th class="text-center">Điểm hiện tại</th>
										<th class="text-center">Điểm được tích</th>
										<th class="text-center">Điểm sau khi tích</th>
										<th class="text-center">Trạng thái</th>
										<th class="text-center">Ngày tạo</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
