<style>
	.table-data-statistic tbody td{
		text-align: center !important;
	}
</style>

<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Thống kê hệ thống
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header d-flex justify-content-between" style="padding-bottom: 0;">
						<!-- <fieldset class="form-group position-relative">
							<select class="form-control" id="scStatusCampaign">
								<option selected value="null">Trạng thái</option>
								<option value="0">Không chạy</option>
								<option value="1">Đang chạy</option>
								<option value="2">Đã kết thúc</option>
							</select>
						</fieldset> -->
					</div>
	
					<div class="card-body card-dashboard">
						<!-- table-responsive -->
						<div class="">
							<table class="table table-data-statistic">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center">Giải đấu</th>
										<th class="text-center">Tổng điểm đã tích</th>
										<th class="text-center">Ngày tạo</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
