<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center text-title">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							<span>Thống kê hệ thống</span>
						</h2>
					</div>
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header d-flex justify-content-start" style="padding-bottom: 0;">
						<a href="/admin/statistic" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
							<i class="ft-chevrons-left"></i>
							Quay lại
						</a>
					</div>

					<div class="card-body card-dashboard">
						<!-- table-responsive -->
						<div class="">
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center">Rule</th>
										<th class="text-center">Tổng điểm đã tích</th>
									</tr>
								</thead>
								<tbody>
									<% if (listRuleBySeason && listRuleBySeason.length) { %>
										<% listRuleBySeason.forEach(({ history, totalPoint }, index) => { %>
											<tr>
												<td class="text-center"> <%= index + 1 %> </td>
												<td class="text-center">
													<h5>
														<a href="/admin/rule/histories?rule=<%= history.rule %>&seasonID=<%= history.metadata && history.metadata.seasonID %>">
															<span class="text-warning">
																<%= TYPE_RULE_WITH_KEY[history.rule].text %>
															</span>
														</a>
													</h5>
												</td>
												<td class="text-center">
													<span class="text-warning">
														<%= totalPoint %>
													</span>
												</td>
											</tr>
										<% }) %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
