<div class="content-body"><!-- Basic Inputs start -->
			
    <section class="basic-inputs">
        <div class="row match-height">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">
                            <i class="la la-bar-chart-o" style="font-size: 25px;"></i>
                            Thống kê tổng quan Token theo thời gian
                        </h2>
                    </div>
    
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p>Từ ngày</p>
                                <fieldset class="form-group">
                                    <input type="date" class="form-control" id="inputDateFrom">
                                </fieldset>
                            </div>
                            <div class="col-4">
                                <p>Đến ngày</p>
                                <fieldset class="form-group">
                                    <input type="date" class="form-control" id="inputDateTo">
                                </fieldset>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-warning btn-min-width mr-1 mt-2" id="btnChangeDateChart" style="margin-top: 33px!important">
                                    Xem biểu đồ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
    
                    <div class="card-body card-dashboard">
                        <!-- Area Spline Chart Start -->
                        <div class="card-title">
                            Biểu đồ thống kê lượng Token được sinh ra cho người dùng
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div id="area-spline-chart"></div>
                            </div>
                            <div class="col-3">
                                <h3 class="mb-2">Thống kê tổng</h3>
                                <p class="mb-2">
                                    <span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(0, 0, 0); color: rgb(0, 0, 0); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                                    Người dùng active: <span id="total-active-user">0</span>
                                </p>
                                <p class="mb-2">
                                    <span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(45, 154, 255); color: rgb(45, 154, 255); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                                    Người dùng mới: <span id="total-new-user"> <%= totalNewUser %> </span>
                                </p>
                                <p class="mb-2">
                                    <span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(225, 135, 43); color: rgb(225, 135, 43); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                                    Token sinh ra: <span id="total-token"> <%= totalBornToken %> </span>
                                </p>
                            </div>
                        </div>
                        <!-- area spline chart end -->
                    </div>

                </div>
            </div>


        </div>
    </section>

</div>
</div>
</div>
<!-- END: Content-->
