<script>
	const languageDataTable = {
		"language": {
			"lengthMenu": "Thể hiện _MENU_",
			"search": "Tìm kiếm",
			"zeroRecords": "Không tìm thấy kết quả trùng khớp",
			"info": "Hiển thị _PAGE_ trên _PAGES_ kết quả",
			"infoEmpty": "Không tìm thấy kết quả",
			"infoFiltered": "(lọc từ _MAX_ kết quả hiện có)",
			"paginate": {
				"first":      "Trang đầu tiên",
				"last":       "Trang cuối cùng",
				"next":       ">" || "Trang tiếp",
				"previous":   "<" || "Trang trước"
			},
		},
		"ordering": false
	}

	const formatNumber = new Intl.NumberFormat('en-US');

	function AlertCustom({ icon = 'info', title, position = 'top', timer = 1500 }){
		return Swal.mixin({
			toast: true,
			position,
			showConfirmButton: false,
			timer,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		}).fire({
			icon,
			title
		})
	}

	function ConfirmCustom({ 
		title, text = '',
		showCancelButton = true,
		confirmButtonColor = '#3085d6',
		cancelButtonColor = '#d33',
		confirmButtonText = 'Xác nhận',
		cancelButtonText = 'Huỷ'
	}){
		return new Promise(resolve => {
			Swal.fire({
				title,
				text,
				showCancelButton,
				confirmButtonColor,
				cancelButtonColor,
				confirmButtonText,
				cancelButtonText,
			}).then((result) => {
				resolve(result);
			})
		})
	}

	function ConfirmCustomAjax({ 
		title, text = '',
		showCancelButton = true,
		confirmButtonColor = '#3085d6',
		cancelButtonColor = '#d33',
		confirmButtonText = 'Xác nhận',
		cancelButtonText = 'Huỷ',
		preConfirm = () => {},
		cb = () => {},
	}){
		return new Promise(resolve => {
			Swal.fire({
				title,
				text,
				showCancelButton,
				confirmButtonColor,
				cancelButtonColor,
				confirmButtonText,
				cancelButtonText,
				showLoaderOnConfirm: true,
				preConfirm: () => preConfirm(),
				allowOutsideClick: () => !Swal.isLoading()
			}).then((result) => cb(result))
		})
	}

	function ConfirmCustomWithIcon({ 
		title, text = '', icon = 'info',
		showCancelButton = true,
		confirmButtonColor = '#3085d6',
		cancelButtonColor = '#d33',
		confirmButtonText = 'Xác nhận',
		cancelButtonText = 'Huỷ'
	}){
		return new Promise(resolve => {
			Swal.fire({
				title,
				text,
				icon,
				showCancelButton,
				confirmButtonColor,
				cancelButtonColor,
				confirmButtonText,
				cancelButtonText,
			}).then((result) => {
				resolve(result);
			})
		})
	}

	function changeQuery({ query, value, url, urlParams, wait = false }) {
		if(!value || value === "null"){
			urlParams.delete(query);
		} else{
			urlParams.set(query, value);
		}
		!wait && location.replace(url + "?" + urlParams.toString());
	}

	let disableAndLoading = (that) => {
		$(that).text('').html(`
			<img style="height: 25px;" src="/template/admin/img/icon-loading.gif" > Vui lòng chờ</img>
		`);
		$(that).attr("disabled", true);
	}

	Date.prototype.addDays = function(days) {
		var date = new Date(this.valueOf())
		date.setDate(date.getDate() + days);
		return date;
   	}

   	function getDates(startDate, stopDate) {
		var dateArray = new Array();
		var currentDate = startDate;
		while (currentDate <= stopDate) {
			dateArray.push(currentDate)
			currentDate = currentDate.addDays(1);
		}
		return dateArray;
    }

	function generateDayWiseTimeSeries(baseval, count, yrange) {
		var i = 0;
		var series = [];
		while (i < count) {
			var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;
		
			series.push([baseval, y]);
			baseval += 86400000;
			i++;
		}
		return series;
	}

	function validEmail(email){
		const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(String(email).toLowerCase());
	}

	// xóa ký tự
	// Auhtor: SonLP
	function replaceAll(str, find, replace) {
		return str.replace(new RegExp(find, 'g'), replace);
	}

	// cleavejs
	// Auhtor: SonLP
	function runCleave(input) {
		$(input).toArray().forEach(function(field){
			new Cleave(field, {
				numeral: true,
				numeralThousandsGroupStyle: 'thousand'
			});
		});
	}

	// GENERATE SỐ NGẪU NHIÊN
	function randomStringFixLengthCode(count){
		let text = "";
		let possible = "012345678987654321";
		for (let i = 0; i < count; i++)
			text += possible.charAt(Math.floor(Math.random() * possible.length));
		return text;
	}

	function removeVietnameseTones(str) {
		str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
		str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
		str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
		str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
		str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
		str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
		str = str.replace(/đ/g,"d");
		str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
		str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
		str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
		str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
		str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
		str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
		str = str.replace(/Đ/g, "D");
		// Some system encode vietnamese combining accent as individual utf-8 characters
		// Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
		str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
		str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
		// Remove extra spaces
		// Bỏ các khoảng trắng liền nhau
		str = str.replace(/ + /g," ");
		str = str.trim();
		// Remove punctuations
		// Bỏ dấu câu, kí tự đặc biệt
		str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
		return str;
	}

	function getDateNow() {
		var now = new Date();
		var day = ("0" + now.getDate()).slice(-2);
		var month = ("0" + (now.getMonth() + 1)).slice(-2);

		var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
		return today;
	}

	function debounce (fn, delay) {
		return args => {
			clearTimeout(fn.id)
			// console.log({ id: fn.id });s
			fn.id = setTimeout(() => {
				fn.call(this, args)
			}, delay)
		}
	}

	function validatePhone(phone) {
		let phone_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
		return phone_regex.test(phone);
	}

	function validateEmail(email) {
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(String(email).toLowerCase());
	}


	function initEditor(selector, options = {}, cb = null, cbUploadImage = null) {
		tinyMCE.init({
			selector,
			plugins: [
				'advlist autolink lists link charmap print preview anchor codesample',
				'searchreplace visualblocks code fullscreen quickbars hr nonbreaking pagebreak',
				'insertdatetime media table paste imagetools wordcount emoticons' // formatpainter powerpaste
			],
			toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor |' +
					'alignleft aligncenter alignright alignjustify |' +
					'outdent indent | numlist bullist | emoticons nonbreaking | fullscreen',
			menubar: 'file edit insert view format table tools custom',
			advlist_bullet_styles: 'default,square,circle,disc',
			quickbars_selection_toolbar: 'bold italic | forecolor backcolor | formatselect | quicklink blockquote',
			quickbars_insert_toolbar: 'nonbreaking | quicktable | numlist bullist | outdent indent | hr pagebreak | emoticons', // quickimage
			menu: {
				custom: { title: 'Lists', items: 'customBulletLine customBulletPlus' }
			},
			nonbreaking_force_tab: true,
			lists_indent_on_tab: true,
			statusbar: true,
			draggable_modal: true,
			branding: false,
			fullscreen_native: true,
			height: 900,
			toolbar_mode: 'floating',
			placeholder: 'Type here...',
			default_link_target: '_blank',
			paste_word_valid_elements: "b,strong,i,em,h1,h2",
			paste_enable_default_filters: false,
			mobile: {
				resize: false
			},
			readOnly: false,
			image: null,
			paste_data_images: false,
			file_picker_callback: function(cb, value, meta){
				let input = document.createElement('input');
				input.setAttribute('type', 'file');
				input.setAttribute('accept', 'image/*');
				let that = this;

				input.onchange = function () {
					let file = this.files[0];
					that.image = file;

					let reader = new FileReader();
					reader.onload = function (e) {
						let id = 'blobid' + (new Date()).getTime();
						let blobCache =  tinymce.activeEditor.editorUpload.blobCache;
						let base64 = reader.result.split(',')[1];
						let blobInfo = blobCache.create(id, file, base64);
						blobCache.add(blobInfo);
						// console.log({ file, blobCache, base64, blobInfo, uri: blobInfo.blobUri() });

						/* call the callback and populate the Title field with the file name */
						cb(blobInfo.blobUri(), { title: file.name, alt: file.name });
					};
					reader.readAsDataURL(file);
				};

				input.click();
				input.remove();
			},
			setup: function(editor){
				editor.on('OpenWindow', e => {
					$('.tox-button[title="Save"]').off('click').on('click', async function() {
						if(e.target.image){
							$(this).prop('disabled', true);
							const image = e.target.image;

							await addFileToUpload([image], links => {
								$(this).prop('disabled', false);
								e.target.windowManager.close();

								if(links && links.length){
									const uri = links[0].uri;

									tinyMCE.activeEditor.execCommand('mceInsertContent', false, `
										<img src="${uri}" width="300" height="239" alt=${uri} />
									`);
								}

							})
						}
					})
				})

				editor.on('KeyDown', e => {
					if ((e.keyCode == 8 || e.keyCode == 46) && editor.selection) { // delete & backspace keys
						const selectedNode = editor.selection.getNode(); // get the selected node (element) in the editor

						if (selectedNode && selectedNode.nodeName == 'IMG') {
							// const { src, title, alt } = selectedNode;
						}
					}

					if (e.keyCode === 9) { // tab pressed
						if (e.shiftKey) {
							editor.execCommand('Outdent');
						}else {
							editor.execCommand('Indent');
						}

						e.preventDefault();
						return false;
					}
				});

				editor.ui.registry.addMenuItem('customBulletLine', {
					text: 'Bullet line',
					icon: 'horizontal-rule',
					tooltip: 'Insert Bullet Line',
					onAction: function (_) {
						editor.execCommand('mceInsertContent', false, `<li style="list-style-type: '- '"> </li>`);
					}
				});

				editor.ui.registry.addMenuItem('customBulletPlus', {
					text: 'Bullet plus',
					icon: 'plus',
					tooltip: 'Insert Bullet Plus',
					onAction: function (_) {
						editor.execCommand('mceInsertContent', false, `<li style="list-style-type: '+ '"> </li>`);
					}
				});

				if(cb && {}.toString.call(cb) === '[object Function]'){
					cb(editor);
				}
			},
			...options,
		});
	}


	// =================== UPLOAD S3 ======================= 👀
	// ======================= UPLOAD S3 =========================
	let arrLinksUploaded = [];
	let isDoneUpload = true;
	let countDone = 0;

	window.onbeforeunload = function() {
		if(!isDoneUpload){
			return isDoneUpload;
		}else{
			return;
		}
	};

	async function addFileToUpload(multiInput, cbDone = null, cbProgress = null, elementContainer = '') {
		isDoneUpload = false;
		let arrUrlPromise = [];
		let totalFile = 0;

		// Thêm url vào mảng arrUrlPromise
		if(multiInput.length === 1){
			const url = generateLinkS3({ file: multiInput[0] });

			arrUrlPromise = [url];
			totalFile = 1;
		} else {
			for (const input of multiInput) {
				if(input.files && input.files.length){
					for (const file of input.files) {
						const url = generateLinkS3({ file, type: input.type });
						arrUrlPromise = [...arrUrlPromise, url];
						totalFile++;
					}
				} else{
					let url = generateLinkS3({ file: input, type: input.type });
					arrUrlPromise = [...arrUrlPromise, url];
					totalFile++;
				}
			}
		}

		// Generate link S3 -> get list link upload -> upload S3 async
		const listUrl = await Promise.all(arrUrlPromise);
		listUrl.length && listUrl.map(link => {
			const { file, uri, signedUrl, type } = link;
			uploadFileS3({ file, uri, signedUrl, elementContainer, totalFile, type, cbDone, cbProgress });
		})

		return () => listUrl;
	}

	function generateLinkS3({ file, type = '' }) {
		return new Promise(resolve => {
			const { type: contentType, name: fileName } = file;
			console.log({
				contentType, fileName
			});
			$.get(
				`${location.origin}/generate-link-s3?name=${fileName}&type=${contentType}`, 
				signedUrl => resolve({ 
					signedUrl: signedUrl.linkUpload.data,
					uri: signedUrl.fileName,
					//`https://s3-ap-southeast-1.amazonaws.com/ldk-software.nandio/root/${signedUrl.fileName}`,
					file,
					type
				})
			);
		})
	}

	// GET LINK FROM SERVER 
	function getLinkS3(file) {
		return new Promise(async resolve => {
			try {
				await addFileToUpload(file, links => {
					let link = links[0].uri;
					if(!link)
						return resolve({ error: true, message: 'fail' });
					return resolve({ error: false, data: link });
				});
			} catch (error) {
				return resolve({ error: true, message: error.message });
			}
		})
	}

	function uploadFileS3({ file, uri, signedUrl, elementContainer, totalFile, type, cbDone, cbProgress }) {
		$.ajax({
			url: signedUrl.url,
			type: 'PUT',
			dataType: 'html',
			processData: false,
			headers: { 'Content-Type': file.type },
			crossDomain: true,
			data: file,
			xhr: function() {
				let myXhr = $.ajaxSettings.xhr();

				myXhr.upload.onprogress = function(e) {
					console.log(Math.floor(e.loaded / e.total * 100) + '%');
				};

				if(myXhr.upload){
					if({}.toString.call(cbProgress) === '[object Function]'){
						myXhr.upload.addEventListener('progress', e => {
							if(e.lengthComputable){
								let max = e.total;
								let current = e.loaded;
								let percentage = (current * 100)/max;
								cbProgress(percentage, type);
							}
						}, false);
					} else{
						myXhr.upload.addEventListener('progress', progress, false);
					}
				}

				return myXhr;
			},
		}).done(function(){
			previewUpload({ elementContainer, uri });
			countDone++;
			arrLinksUploaded = [...arrLinksUploaded, {
				uri,
				type
			}]

			if(countDone === totalFile){
				// Check is function
				({}.toString.call(cbDone) === '[object Function]') && cbDone(arrLinksUploaded);

				arrLinksUploaded = [];
				isDoneUpload = true;
				countDone = 0;
			}
		}).fail(function (error) {
			console.error(error);
		});
	}

	function progress(e){
		if(e.lengthComputable){
			let max = e.total;
			let current = e.loaded;
			let percentage = (current * 100)/max;
			$('.progress').css({ width: parseInt(percentage) + '%' });
		}
	}

	function previewUpload({ uri, elementContainer }) {
		const container = $(elementContainer);
		if(container.length){
			const img = `<img src="${uri}" alt="Img Preview" />`;
			container.append(img);
		}
	}

	function changePreviewImage(files) {
		if (files && files[0]) {
			let reader = new FileReader();
			reader.onload = function(e) {
				$('#imagePreview').css('background-image', `url('${e.target.result}')`);
				$('#imagePreview').hide();
				$('#imagePreview').fadeIn(650);
			}
			reader.readAsDataURL(files[0]);
		}
	}

	function generateRangeDate(fromDate, toDate, value){
		const rangeDate 	= getDates(fromDate, toDate);
		let htmlDateList 	= '';

		rangeDate.pop();
		rangeDate.map((date, index) => {
			const dateFormat = moment(date).format('DD/MM/YYYY');
			const dateValue  = moment(date).format('YYYY/MM/DD');

			htmlDateList += `
				<div class="input-group mb-1">
					<span class="input-group-text">Ngày</span>
					<input type="text" class="form-control input-date-create-post" value="${dateFormat}" disabled _date="${dateValue}">
					<span class="input-group-text">Token</span>
					<input type="number" class="form-control input-point-create-post" placeholder="1.5" value="${value}">
				</div>
			`;
		})

		return htmlDateList;
	}


	$(document).ready(function () {

	});
</script>