<script>
    $(document).ready(function () {

		const optionsChartBornToken = {
			series: [],
            chart: {
                type: 'line',
                height: 400,
                stacked: true,
                events: {
                    selection: function (chart, e) {
                        console.log(new Date(e.xaxis.min))
                    }
                },
				locales: [{
					name: 'en',
					options: {
					// months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
					// shortMonths: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
					// days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
					// shortDays: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
					shortMonths: ['/ 01', '/ 02', '/ 03', '/ 04', '/ 05', '/ 06', '/ 07', '/ 08', '/ 09', '/ 10', '/ 11', '/ 12'],
					days: ['CN', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
					shortDays: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
					toolbar: {
						download: 'Download SVG',
						selection: 'Selection',
						selectionZoom: 'Selection Zoom',
						zoomIn: 'Zoom In',
						zoomOut: 'Zoom Out',
						pan: 'Panning',
						reset: 'Reset Zoom',
					}
					}
				}]
            },
            colors: ['#2D9AFF', '#000000', '#E1872B'],
            dataLabels: {
                enabled: false
            },
            stroke: {
            	curve: 'smooth'
            },
            // fill: {
            //     type: 'gradient',
            //     gradient: {
            //         opacityFrom: 0.6,
            //         opacityTo: 0.8,
            //     }
            // },
			legend: {
				position: 'top',
				horizontalAlign: 'left'
			},
			xaxis: {
				type: 'datetime'
			},
			noData: {
				text: 'Loading...'
			},
        };
		const chartBornToken = new ApexCharts(document.querySelector("#area-spline-chart"), optionsChartBornToken);
		chartBornToken.setLocale('en')
		chartBornToken.render();

		function callAjaxGetListHistory(query = '') {
			return new Promise(resolve => {
				$.ajax({
					type: "GET",
					url: `<%= CF_ROUTINGS_HISTORY.GET_LIST_HISTORY %>?${query}`,
				}).done(resolve)
			})
		}

		const setDataChart = (historyReport, fromDate, toDate) => {
			let { listHistoryReport } = historyReport;

			let dataBornToken  = [];
			let dataNewUser    = [];
			let dataUserActive = [];

			// 	dateStart += 86400000;

			if(fromDate && toDate){
				const dateRange = getDates(new Date(fromDate), new Date(toDate));

				dateRange.map(date => {
					const dateFormat = moment(date).format('DD/MM/YYYY');
					const report = listHistoryReport.find(report => moment(report.modifyAt).format('DD/MM/YYYY') === dateFormat);

					dataNewUser[dataNewUser.length] 	= [date.getTime(), report ? report.totalNewUser : 0];
					dataBornToken[dataBornToken.length] = [date.getTime(), report ? report.totalToken : 0];
				})
			} else{
				listHistoryReport.map(report => {
					const dateStart = new Date(report.modifyAt).getTime();

					dataNewUser[dataNewUser.length] 	= [dateStart, report.totalNewUser];
					dataBornToken[dataBornToken.length] = [dateStart, report.totalToken];
				})
			}

			chartBornToken.updateSeries([
				{
					name: 'Số lượng người dùng mới',
					data: dataNewUser
				},
				{
					name: 'Số lượng người dùng active',
					data: dataUserActive
				},
				{
					name: 'Số lượng Token sinh ra',
					data: dataBornToken 
				}
			]);
		}

		$('#btnChangeDateChart').on('click', async function () {
			const fromDate 	= $('#inputDateFrom').val();
			const toDate 	= $('#inputDateTo').val();

			if(fromDate && toDate){
				const historyReport = await callAjaxGetListHistory(`fromDate=${fromDate}&toDate=${toDate}`);
				setDataChart(historyReport, fromDate, toDate);
			}
		});

		(async () => {
			const historyReport = await callAjaxGetListHistory();
			setDataChart(historyReport);
		})()






    });
</script>