<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestone').on('click', function () {
			const campaignID	= campaignIDParam;
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromNumAwards	= $('#inputFromNumAwards').val().trim();
			const toNumAwards	= $('#inputToNumAwards').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!campaignIDParam){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumAwards){
				return AlertCustom({ title: "Bạn cần nhập mốc tạo", icon: 'warning' });
			}

			if(+fromNumAwards > +toNumAwards && toNumAwards !== -1){
				return AlertCustom({ title: "Phạm vi tạo không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_AWARDS.ADD_MILESTONE_CAMPAIGN_AWARDS %>`,
				data: { campaignID, milestoneName, fromNumAwards, toNumAwards, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputFromNumAwards').val('');
				$('#inputToNumAwards').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>