<script>
	$(document).ready(function () {

		$('#btnUpdateMilestone').on('click', function () {
			const milestoneID 	= $(this).attr('__milestoneID');
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromNumAwards	= $('#inputFromNumAwards').val().trim();
			const toNumAwards	= $('#inputToNumAwards').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumAwards){
				return AlertCustom({ title: "Bạn cần nhập mốc tạo", icon: 'warning' });
			}

			if(+fromNumAwards > +toNumAwards && toNumAwards !== -1){
				return AlertCustom({ title: "Phạm vi tạo không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_AWARDS.UPDATE_MILESTONE_CAMPAIGN_AWARDS %>`,
				data: { milestoneID, milestoneName, fromNumAwards, toNumAwards, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>