		<div class="content-body"><!-- Basic Inputs start -->
			
			<section class="basic-inputs">
				<div class="row match-height">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-body">
								<h2 class="text-center">
									<i class="la la-hand-o-right" style="font-size: 25px;"></i>
									Newborn User
								</h2>
							</div>
			
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row breadcrumbs-top">
							<div class="breadcrumb-wrapper col-12">
							  <ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/admin/list-campaign-limit-newborn">
										Newborn User
									</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">
										<i class="la la-angle-right"></i>
										<%= infoCampaign.campaignName %>
									</a>
								</li>
								<li class="breadcrumb-item active">
									<i class="la la-angle-right"></i>
									Đổi thông tin chiến dịch
								</li>
							  </ol>
							</div>
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
						<div class="card">
							<div class="card-header" style="padding-bottom: 0;">
								<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
									<i class="la la-info-circle"></i>
									Thông tin chiến dịch
								</button>
							</div>
			
							<div class="card-body">

								<div class="row">
									<div class="col-4">
										<p>Tên chiến dịch</p>
										<fieldset class="form-group">
											<input type="text" id="inputNameCampaign" class="form-control" placeholder="......" value="<%= infoCampaign.campaignName %>">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Ngày bắt đầu</p>
										<fieldset class="form-group">
											<input type="date" class="form-control" id="inputDateStart" value="<%= moment(infoCampaign.dateStart).format('YYYY-MM-DD') %>">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Ngày kết thúc</p>
										<fieldset class="form-group">
											<input type="date" class="form-control" id="inputDateEnd" value="<%= moment(infoCampaign.dateEnd).format('YYYY-MM-DD') %>">
										</fieldset>
									</div>
								</div>

								<div class="row mt-2">
									<div class="col-4">
										<p>Ngưỡng newborn đối với CLB</p>
										<fieldset class="form-group">
											<input type="number" id="inputLimitNewbornClub" class="form-control" placeholder="1" value="<%= infoCampaign.limitNewbornFollowClub %>">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Ngưỡng newborn đối với Giải đấu</p>
										<fieldset class="form-group">
											<input type="number" id="inputLimitNewbornSeason" class="form-control" placeholder="1" value="<%= infoCampaign.limitNewbornFollowSeason %>">
										</fieldset>
									</div>
								</div>

								<div class="row d-flex justify-content-end mt-4">
									<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1" id="btnUpdateCampaignLimitNewborn" data-action="reload" __campaignID="<%= infoCampaign._id %>">
										Lưu thay đổi
									</button>
									<a href="/admin/list-campaign-limit-newborn" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
										Huỷ
									</a>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
<!-- END: Content-->
