<script>
	$(document).ready(function () {

		$(".table-data").DataTable({
			...languageDataTable
		})

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		const callAjaxUpdateStatus = (campaignID, status) => {
			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_LIKE.UPDATE_CAMPAIGN_LIKE %>`,
				data: { campaignID, status }
			})
			.done(resp => {
				if(resp.error){
					AlertCustom({ title: resp.message, icon: 'warning' })
				}
			})
			.fail(err => AlertCustom({ title: err.message, icon: 'error' }))
		}

		$('#statusCampaign').on('change', function () {
			const checked = $(this).prop('checked');
			const labelStatus = $(this).nextAll('label');

			if(checked){
				labelStatus.html('Đang chạy');
				callAjaxUpdateStatus(campaignIDParam, 1);
			} else{
				labelStatus.html('Đã dừng');
				callAjaxUpdateStatus(campaignIDParam, 0);
			}
		});

		$(document).on('click', '.btn-remove-milestone', async function () {
			const milestoneID = $(this).attr('_milestoneID');

			await ConfirmCustomAjax({
                title: 'Bạn có chắc chắn muốn xoá cột mốc?',
                icon: 'question',
                cb: result => {
                    const { error, message } = result.value;

                    if (error) {
                        return AlertCustom({
                            title: message,
                            icon: 'warning'
                        });
                    }

                    $(this).closest('tr').remove();
                    AlertCustom({
                        title: 'Xoá cột mốc thành công',
                        icon: 'success'
                    });
                },
                preConfirm: () => {
                    if (!milestoneID) {
                        return AlertCustom({
                            title: 'Không thể xoá cột mốc vui lòng thử reload lại trang',
                            icon: 'warning'
                        });
                    }

                    return $.ajax({
                        type: "DELETE",
                        url: `<%= CF_ROUTINGS_CAMPAIGN_LIKE.DELETE_MILESTONE_CAMPAIGN_LIKE %>?milestoneID=${milestoneID}`,
                    })
                }
            });
		});


		$('#btnDeleteCampaign').on('click', async function () {
			const campaignID = $(this).attr('__campaignID');

			await ConfirmCustomAjax({
                title: 'Bạn có chắc chắn muốn xoá chiến dịch?',
                icon: 'question',
                cb: result => {
                    const { error, message } = result.value;

                    if (error) {
                        return AlertCustom({
                            title: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'Xoá chiến dịch thành công',
                        icon: 'success'
                    });
					setTimeout(() => location.replace('/admin/list-campaign-like'), 1000);
                },
                preConfirm: () => {
                    if (!campaignID) {
                        return AlertCustom({
                            title: 'Không thể xoá chiến dịch vui lòng thử reload lại trang',
                            icon: 'warning'
                        });
                    }

                    return $.ajax({
                        type: "DELETE",
                        url: `<%= CF_ROUTINGS_CAMPAIGN_LIKE.DELETE_CAMPAIGN_LIKE %>?campaignID=${campaignID}`,
                    })
                }
            });
		});

	});
</script>