	<!-- BEGIN: Footer-->
	<footer class="footer footer-static footer-light navbar-border">
		<p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2021 <a class="text-bold-800 grey darken-2" href="https://vsports.com.vn" target="_blank">VToken</a></span>
			<span class="float-md-right d-none d-lg-block">
				<!-- LDK Software & Made with<i class="ft-heart pink"></i> -->
			<span id="scroll-top"></span>
			</span>
		</p>
	</footer>
  	<!-- END: Footer-->

	<!-- BEGIN: CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="https://cdn.tiny.cloud/1/mnhe8mkhfadk24d7pbtvd880370fc3jyxr34fxx0csiks0gt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<!-- BEGIN: Vendor JS-->
	<script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/vendors.min.js"></script>

	<!-- BEGIN: Page Vendor JS-->
	<script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/ui/headroom.min.js"></script>
	<script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/tags/form-field.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
	<script src="../../../template/admin/js/file-dropzone.js"></script>

	<!-- DATATABLE -->
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/tables/datatable/dataTables.fixedHeader.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/tables/datatable/dataTables.keyTable.min.js"></script>

	<!-- SWITCH -->
	<script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
	<script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
	<!-- END: Page Vendor JS-->

	<!-- BEGIN: Theme JS-->
	<script src="../../../template/modern-admin-bt-4/app-assets/js/core/app-menu.min.js"></script>
	<script src="../../../template/modern-admin-bt-4/app-assets/js/core/app.min.js"></script>
	<script src="../../../template/modern-admin-bt-4/app-assets/js/scripts/footer.min.js"></script>
	<!-- END: Theme JS-->

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- BEGIN: Page JS-->
	<script src="../../../template/modern-admin-bt-4/app-assets/js/scripts/forms/switch.min.js"></script>
	<script src="../../../template/modern-admin-bt-4/app-assets/js/scripts/forms/custom-file-input.min.js"></script>
    <!-- <script src="../../../template/modern-admin-bt-4/app-assets/js/scripts/tables/datatables-extensions/datatable-keytable.min.js"></script> -->
	<!-- END: Page JS-->

</body>
</html>