<!DOCTYPE html>
<!--
Template Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://1.envato.market/modern_admin
Renew Support: https://1.envato.market/modern_admin
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <!-- <title>Form Basic Elements - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title> -->
	<title> <%= render.title %> </title>

    <link rel="apple-touch-icon" href="../../../template/modern-admin-bt-4/app-assets/images/ico/apple-icon-120.png">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../../../template/modern-admin-bt-4/app-assets/images/ico/favicon.ico"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../../../template/assets/image/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/vendors.min.css">
	<link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/tables/datatable/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/tables/extensions/keyTable.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/forms/toggle/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/forms/toggle/switchery.min.css">
	<link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/forms/icheck/icheck.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/components.min.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/core/menu/menu-types/vertical-content-menu.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/core/colors/palette-gradient.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/plugins/forms/switch.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/fonts/simple-line-icons/style.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/core/colors/palette-switch.min.css"> -->
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/assets/css/style.css">
    <!-- END: Custom CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-content-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
    <% moment.locale('vi') %>

	<!-- BEGIN: Content-->
    <div class="app-content content">
		<div class="content-overlay"></div>
		<div class="content-wrapper">


  <% if (render.code !== 'CF_ROUTINGS_HISTORY.GET_LIST_HISTORY_BY_USER_EMBED') { %>
    <!-- ========== Left Sidebar Start ========== -->
    <%- include ../inc/admin/utils/leftbar.ejs%>
    <!-- ========== Left Sidebar End ========== -->
  <% } %>
