		<div class="content-body"><!-- Basic Inputs start -->
			
			<section class="basic-inputs">
				<div class="row match-height">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-body">
								<h2 class="text-center">
									<i class="la la-hand-o-right" style="font-size: 25px;"></i>
									Minigame
								</h2>
							</div>
			
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row breadcrumbs-top">
							<div class="breadcrumb-wrapper col-12">
							  <ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/admin/list-campaign-minigame">
										Minigame
									</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">
										<i class="la la-angle-right"></i>
										<%= infoCampaign.campaignName %>
									</a>
								</li>
								<li class="breadcrumb-item active">
									<i class="la la-angle-right"></i>
									Tạo mốc mới
								</li>
							  </ol>
							</div>
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
						<div class="card">
							<div class="card-header" style="padding-bottom: 0;">
								<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
									<i class="la la-info-circle"></i>
									Tạo mốc mới
								</button>
							</div>
			
							<div class="card-body">

								<div class="row">
									<div class="col-4">
										<p>Tên mốc</p>
										<fieldset class="form-group">
											<input type="text" id="inputNameMilestone" class="form-control" placeholder="......">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Số lượng tạo bài viết</p>
										<fieldset class="form-group">
											<input type="number" class="form-control" id="inputNumPost" placeholder="1">
										</fieldset>
									</div>
									<div class="col-4">
										<p>Số lượt bình chọn đạt trên</p>
										<fieldset class="form-group">
											<input type="number" class="form-control" id="inputNumVote" placeholder="1">
										</fieldset>
									</div>
								</div>

								<div class="row mt-2">
									<!-- <div class="col-4">
										<p>Giới hạn lượt tích điểm</p>
										<fieldset class="form-group">
											<input type="number" class="form-control" id="inputLimit" placeholder="1">
										</fieldset>
									</div> -->
									<div class="col-4">
										<p>Số token / Lần</p>
										<fieldset class="form-group">
											<input type="number" class="form-control" id="inputTokenAmount" placeholder="1">
										</fieldset>
									</div>
								</div>

								<div class="row d-flex justify-content-end mt-4">
									<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1" id="btnCreateMilestone" data-action="reload">
										Tạo mới
									</button>
									<a href="/admin/list-milestone-campaign-minigame?campaignID=<%= infoCampaign._id %>" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
										Huỷ
									</a>
								</div>

							</div>
			
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
<!-- END: Content-->
