<!-- BEGIN: Main Menu-->

<div class="main-menu menu-static menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
	<div class="main-menu-content">

		<div class="wrapper-logo d-flex justify-content-center p-2">
			<svg data-name="Layer 1" viewBox="0 0 475.79 445.15" width="40" height="40"><defs><linearGradient id="prefix__a" x1="23.8" y1="447.63" x2="98.42" y2="447.63" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7cd98"></stop><stop offset="0.05" stop-color="#f8aa1b"></stop><stop offset="1" stop-color="#c4532e"></stop></linearGradient><linearGradient id="prefix__b" x1="90.94" y1="450.93" x2="128.55" y2="450.93" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__c" x1="130.29" y1="447.67" x2="195.49" y2="447.67" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__d" x1="195.65" y1="447.63" x2="262.1" y2="447.63" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__e" x1="260.92" y1="447.5" x2="318.61" y2="447.5" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__f" x1="314.39" y1="447.63" x2="381.49" y2="447.63" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__g" x1="385.1" y1="447.63" x2="440.47" y2="447.63" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__h" x1="434.4" y1="447.67" x2="499.6" y2="447.67" xlink:href="#prefix__a"></linearGradient><linearGradient id="prefix__i" x1="54.21" y1="211.9" x2="469.19" y2="211.9" xlink:href="#prefix__a"></linearGradient></defs><title>Vsport-Dọc11</title><path d="M46.42 432.07h-20L23.8 417.6h19.51zM84 437.82l-29.72 39.84H34.77l-7.4-39.84h20.11l2.89 13.32 8.46-13.24zm14.39-20.05l-10 14.3H63.35l9.26-14.47z" transform="translate(-23.8 -32.6)" fill="url(#prefix__a)"></path><path d="M125.78 456.46H90.94l2.73-11.07h34.88z" transform="translate(-23.8 -32.6)" fill="url(#prefix__b)"></path><path d="M182.36 472.17q-3.11 3.57-9.64 5.58l-42.43-.09 4.1-16.56 29.38.17q3.82-.51 3.83-4.17a5.93 5.93 0 00-.51-3 5.07 5.07 0 00-2.37-1.49h-15q-4.89 0-7.15-2.74c-1.5-1.83-2.26-4.81-2.26-8.92v-3.05h34.35c4.2.6 7 1.53 8.46 2.81.23.17 1.63 1.88 4.21 5.11a28.6 28.6 0 011.48 9.54 24.29 24.29 0 01-6.45 16.81zm13.13-54.57L192 432.07h-50.36a22.87 22.87 0 016-9.88q4.74-4.59 9.64-4.59z" transform="translate(-23.8 -32.6)" fill="url(#prefix__c)"></path><path d="M260.69 437.9a21.44 21.44 0 01-1.48 5.07q-4.59 10.72-21.89 10.73h-17.88l-6 24h-17.79l9.71-39.7zm1.41-5.75h-59.78l8-14.55h43.91a6.2 6.2 0 013.67 1.4 8.06 8.06 0 012.72 3.3c.98 2.02 1.48 5.31 1.48 9.85z" transform="translate(-23.8 -32.6)" fill="url(#prefix__d)"></path><path d="M317.51 437.82l-.31 1.4q-1.24 4.51-4.29 16.56a34.13 34.13 0 01-6 12.73q-7.33 9.24-19.59 9.24h-9.26q-7.47 0-11.8-3.15-5.38-3.75-5.39-11.58a36.66 36.66 0 011.18-8.9L266 438h18.14l-5.39 21.2a12.42 12.42 0 00-.3 2.25 2 2 0 001.4 2.17h11.27c1.39-.39 2.43-1.87 3.11-4.42l5.58-21.29zm1.1-5.58h-51.24a23.89 23.89 0 015.28-10.05q4.59-4.94 9.49-4.93h26.45q10 0 10 11.92z" transform="translate(-23.8 -32.6)" fill="url(#prefix__e)"></path><path d="M380.54 437.9q-.6 5.33-5.42 10.05a11 11 0 01-3.69 2.68 13.27 13.27 0 011.79 6.64 42.88 42.88 0 01-.53 5.66q-.31 2.26-4 14.73h-17.45l6.23-24H339.1l-6.6 24h-18.11l10.44-39.76zm.95-5.83h-60.26l8.23-14.47h44.25a6 6 0 013.61 1.38 9.39 9.39 0 012.77 3.3q1.4 2.89 1.4 9.79z" transform="translate(-23.8 -32.6)" fill="url(#prefix__f)"></path><path d="M440.47 417.6l-3.61 14.47H385.1l8.27-14.47zm-20.15 20.3l-9.42 39.76h-17.79l9.63-39.76z" transform="translate(-23.8 -32.6)" fill="url(#prefix__g)"></path><path d="M486.46 472.17q-3.1 3.57-9.63 5.58l-42.43-.09 4.09-16.56 29.38.17q3.83-.51 3.83-4.17a5.93 5.93 0 00-.51-3 5.07 5.07 0 00-2.37-1.49h-15c-3.27 0-5.65-.91-7.16-2.74s-2.25-4.81-2.25-8.92v-3.05h34.34c4.2.6 7 1.53 8.46 2.81.23.17 1.64 1.88 4.22 5.11a28.86 28.86 0 011.48 9.54 24.25 24.25 0 01-6.45 16.81zm13.14-54.57l-3.49 14.47h-50.37a22.87 22.87 0 016-9.88q4.74-4.59 9.64-4.59z" transform="translate(-23.8 -32.6)" fill="url(#prefix__h)"></path><path d="M260.89 268.42L244 238.94l1.93-3.5 36.42-65.76h-69.83L291.18 32.6h178L463 43.26 260.89 391.19c-5.51-9.39-3.4-5.89-6.13-10.62L54.21 32.6h142.72c2.67 5.24.58 1.42 1.82 3.69l24.91 45.63 2 3.62-11.56 18.61c-2.81 4.54 2.46-4-6.2 10l-27.43-46.84-2.05-3.52H108.3l153.4 265.59 6.13-10.71L413.09 64.94H308.64l-42.36 72.4c10.71.13 6.89 0 12.37 0h59.18c-5.3 9.28-3.5 6-6.28 10.69l-64.47 109.85c-2.76 4.7.8-1.38-6.19 10.54z" transform="translate(-23.8 -32.6)" fill-rule="evenodd" fill="url(#prefix__i)"></path></svg>
			<h4><strong>VSPORTS</strong></h4>
			<div><i class="la la-dot-circle-o"></i></div>
		</div>

		<%
			const arrUrl = [
				{
					header: 'Thiết lập',
					name: 'Giải đấu',
					icon: `<i class="la la-trophy"></i>`,
					childs: [
						{
							name: 'Xác minh giải đấu',
							mainPath: '/admin/list-campaign-confirm',
							path: [
								'/admin/add-campaign-confirm',
								'/admin/update-campaign-confirm',
								'/admin/list-campaign-confirm',
								'/admin/add-milestone-campaign-confirm',
								'/admin/update-milestone-campaign-confirm',
								'/admin/list-milestone-campaign-confirm',
							],
						},
						{
							name: 'Duyệt đội tham dự giải',
							mainPath: '/admin/list-campaign-approve-team',
							path: [
								'/admin/add-campaign-approve-team',
								'/admin/update-campaign-approve-team',
								'/admin/list-campaign-approve-team',
								'/admin/add-milestone-campaign-approve-team',
								'/admin/update-milestone-campaign-approve-team',
								'/admin/list-milestone-campaign-approve-team',
							],
						},
						{
							name: 'Tạo lịch thi đấu',
							mainPath: '/admin/list-campaign-create-schedule',
							path: [
								'/admin/add-campaign-create-schedule',
								'/admin/update-campaign-create-schedule',
								'/admin/list-campaign-create-schedule',
								'/admin/add-milestone-campaign-create-schedule',
								'/admin/update-milestone-campaign-create-schedule',
								'/admin/list-milestone-campaign-create-schedule',
							],
						},
						{
							name: 'Cập nhật kết quả trận',
							mainPath: '/admin/list-campaign-update-result',
							path: [
								'/admin/add-campaign-update-result',
								'/admin/update-campaign-update-result',
								'/admin/list-campaign-update-result',
								'/admin/add-milestone-campaign-update-result',
								'/admin/update-milestone-campaign-update-result',
								'/admin/list-milestone-campaign-update-result',
							],
						},
						{
							name: 'Trao giải thưởng',
							mainPath: '/admin/list-campaign-awards',
							path: [
								'/admin/add-campaign-awards',
								'/admin/update-campaign-awards',
								'/admin/list-campaign-awards',
								'/admin/add-milestone-campaign-awards',
								'/admin/update-milestone-campaign-awards',
								'/admin/list-milestone-campaign-awards',
							],
						},
						{
							name: 'Đạt số newborn follower',
							mainPath: '/admin/list-campaign-newbord-follower',
							path: [
								'/admin/add-campaign-newbord-follower',
								'/admin/update-campaign-newbord-follower',
								'/admin/list-campaign-newbord-follower',
								'/admin/add-milestone-campaign-newbord-follower',
								'/admin/update-milestone-campaign-newbord-follower',
								'/admin/list-milestone-campaign-newbord-follower',
							],
						},
						{
							name: 'Newborn user',
							mainPath: '/admin/list-campaign-limit-newborn',
							path: [
								'/admin/add-campaign-limit-newborn',
								'/admin/update-campaign-limit-newborn',
								'/admin/info-campaign-limit-newborn',
								'/admin/list-campaign-limit-newborn',
							],
						},
						{
							name: 'Tạo nội dung hàng ngày',
							mainPath: '/admin/list-campaign-create-post',
							path: [
								'/admin/add-campaign-create-post',
								'/admin/update-campaign-create-post',
								'/admin/list-campaign-create-post',
								'/admin/add-milestone-campaign-create-post',
								'/admin/update-milestone-campaign-create-post',
								'/admin/list-milestone-campaign-create-post',
							],
						},
					]
				},
				// {
				// 	name: 'Câu lạc bộ',
				// 	icon: `<i class="la la-users"></i>`,
				// 	childs: [
				// 		{
				// 			name: 'Xác minh CLB',
				// 		},
				// 		{
				// 			name: 'Tham gia trận đấu của VSports',
				// 		},
				// 		{
				// 			name: 'Đạt số newborn follower',
				// 		},
				// 		{
				// 			name: 'Tạo nội dung hàng ngày',
				// 		},
				// 	]
				// },
				{
					name: 'Người dùng',
					icon: `<i class="la la-user"></i>`,
					childs: [
						{
							name: 'Like bài viết',
							mainPath: '/admin/list-campaign-like',
							path: [
								'/admin/add-campaign-like',
								'/admin/update-campaign-like',
								'/admin/list-campaign-like',
								'/admin/add-milestone-campaign-like',
								'/admin/update-milestone-campaign-like',
								'/admin/list-milestone-campaign-like',
							],
						},
						{
							name: 'Minigame',
							mainPath: '/admin/list-campaign-minigame',
							path: [
								'/admin/add-campaign-minigame',
								'/admin/update-campaign-minigame',
								'/admin/list-campaign-minigame',
								'/admin/add-milestone-campaign-minigame',
								'/admin/update-milestone-campaign-minigame',
								'/admin/list-milestone-campaign-minigame',
							],
						},
						// {
						// 	name: 'Điền thông tin cá nhân',
						// },
						// {
						// 	name: 'Theo dõi CLB',
						// },
						// {
						// 	name: 'Theo dõi giải đấu',
						// },
						// {
						// 	name: 'Đăng nhập hàng tuần',
						// },
						// {
						// 	name: 'Mời bạn bè',
						// },
					]
				},
			];
		%>


	  <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
		<li class="nav-item">
			<a href="#" class="nav-item-dashboard">
				<i class="la la-home"></i>
				<span class="menu-title" data-i18n="Dashboard">Bảng điều khiển</span>
				<!-- <span class="badge badge badge-warning badge-pill float-right mr-2">2</span> -->
			</a>
		  <ul class="menu-content">
			<%
				let isActiveHistoryLeftbar 		= false;
				let isActiveUserLeftbar 		= false;
				let isActiveTokenLeftbar 		= false;
				let isActiveStatisticLeftbar 	= false;

				if(hrefCurrent.includes('/admin/history')){
					isActiveHistoryLeftbar = true;
				}

				if(hrefCurrent.includes('/admin/users')){
					isActiveUserLeftbar = true;
				}

				if(hrefCurrent.includes('/admin/token')){
					isActiveTokenLeftbar = true;
				}
			
				if(hrefCurrent.includes('/admin/statistic') ||
					hrefCurrent.includes('/admin/campaigns') ||
					hrefCurrent.includes('/admin/milestones') ||
					hrefCurrent.includes('/admin/milestones/history')){
					isActiveStatisticLeftbar = true;
				}
			%>
			<li class="<%= isActiveStatisticLeftbar && 'active' %>">
				<a class="menu-item" href="/admin/statistic">
					<i class="la la-circle-thin"></i>
					<span data-i18n="eCommerce">Thống kê hệ thống</span>
				</a>
			</li>
			<li class="<%= isActiveHistoryLeftbar && 'active' %>">
				<a class="menu-item" href="/admin/history">
					<i class="la la-circle-thin"></i>
					<span data-i18n="eCommerce">Lịch sử tích điểm</span>
				</a>
			</li>
			<% if (infoUser.role === 0) { %>
				<li class="<%= isActiveUserLeftbar && 'active' %>">
					<a class="menu-item" href="/admin/users">
						<i class="la la-circle-thin"></i>
						<span data-i18n="eCommerce">Quản lý user</span>
					</a>
				</li>
			<% } %>
			<li>
				<a class="menu-item text-danger" href="/logout">
					<i class="la la-circle-thin"></i>
					<span data-i18n="eCommerce">Đăng xuất</span>
				</a>
			</li>
		  </ul>
		</li>

		<% arrUrl.forEach(urlObj => { %>
			<% let hasChild = urlObj.childs && urlObj.childs.length %>

			<% if (urlObj.header) { %>
				<li class="navigation-header"><span data-i18n="Forms"><%= urlObj.header %></span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Forms"></i>
				</li>
			<% } %>

			<% if (!hasChild) { %>
				<li class="nav-item mb-2 open active"">
					<a href="<%= urlObj.mainPath %>">
						<%- urlObj.icon %>
						<span class="menu-title"> <%= urlObj.name %> </span>
					</a>
				</li>
			<% } else{ %>
				<li class="nav-item mb-2 open active"">
					<a href="#">
						<%- urlObj.icon %>
						<span class="menu-title"> <%= urlObj.name %> </span>
					</a>
					<ul class="menu-content">
						<% urlObj.childs.forEach(urlObjChild => { %>
							<%
								let isActive = false;

								if(urlObjChild.path){
									urlObjChild.path.forEach(path => {
										if(hrefCurrent.includes(path)){
											isActive = true;
										}
									});
								}
							%>

							<li class="<%= isActive ? 'active' : '' %>">
								<a class="menu-item" href="<%= urlObjChild.mainPath %>" title="<%= urlObjChild.name %>">
									<i class="la la-circle-thin"></i>
									<span>
										<%= urlObjChild.name %>
									</span>
								</a>
							</li>
						<% }) %>
					</ul>
				</li>
			<% } %>

		<% }) %>

	  </ul>
	</div>
  </div>

  <!-- END: Main Menu-->
  