		<div class="content-body"><!-- Basic Inputs start -->
			
			<section class="basic-inputs">
				<div class="row match-height">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-body">
								<h2 class="text-center">
									<i class="la la-hand-o-right" style="font-size: 25px;"></i>
									Minigame
								</h2>
							</div>
			
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-end">
						<button type="button" class="btn btn-success btn-min-width mr-1 mb-1">
							Đang kích hoạt
						</button>
						<button type="button" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
							Tắt kịch bản
						</button>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
						<div class="card">
							<div class="card-header d-flex justify-content-between" style="padding-bottom: 0;">
								<fieldset class="form-group position-relative">
									<select class="form-control" id="scStatusCampaign">
										<option selected value="null">Trạng thái</option>
										<option value="0">Không chạy</option>
										<option value="1">Đang chạy</option>
										<option value="2">Đã kết thúc</option>
									</select>
								</fieldset>
								<a href="/admin/add-campaign-minigame" class="btn btn-warning btn-min-width mr-1 mb-1">
									<i class="ft-plus-circle"></i>
									Thêm chiến dịch
								</a>
							</div>
			
							<div class="card-body card-dashboard">
								<div class="table-responsive">
									<table class="table table-data">
										<thead>
											<tr>
												<th>#</th>
												<th class="text-left">Tên chiến dịch</th>
												<th class="text-center">Ngày bắt đầu</th>
												<th class="text-center">Ngày kết thúc</th>
												<th class="text-center">Trạng thái</th>
												<th class="text-center">Thao tác</th>
											</tr>
										</thead>
										<tbody>
											<% if (listCampaign && listCampaign.length) { %>
												<% listCampaign.forEach(campaign => { %>
													<tr>
														<td>
															<span class="text-warning"> #<%= campaign.campaignID %> </span>
														</td>
														<td class="text-left">
															<a href="/admin/list-milestone-campaign-minigame?campaignID=<%= campaign._id %>">
																<span class="text-warning"> <%= campaign.campaignName %> </span>
															</a>
														</td>
														<td class="text-center">
															<%= moment(campaign.dateStart).format('DD/MM/YYYY') %>
														</td>
														<td class="text-center">
															<%= moment(campaign.dateEnd).format('DD/MM/YYYY') %>
														</td>
														<td class="text-center">
															<h5>
																<% if (campaign.status === 0) { %>
																	<div class="badge badge-custom round badge-secondary">Không chạy</div>
																<% } %>

																<% if (campaign.status === 1) { %>
																	<div class="badge badge-custom round badge-success">Đang chạy</div>
																<% } %>

																<% if (campaign.status === 2) { %>
																	<div class="badge badge-custom round badge-secondary">Đã kết thúc</div>
																<% } %>
															</h5>
														</td>
														<td class="text-center">
															<a href="/admin/update-campaign-minigame?campaignID=<%= campaign._id %>" class="btn-icon-custom">
																<i class="la la-eyedropper" style="font-size: 1.5rem;"></i>
															</a>
															<a href="javascript:void(0)" class="btn-icon-custom btn-remove-campaign" _campaignID="<%= campaign._id %>">
																<i class="la la-trash" style="font-size: 1.5rem;"></i>
															</a>
														</td>
													</tr>
												<% }) %>
											<% } %>

										</tbody>
									</table>
								</div>
							</div>
			
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
<!-- END: Content-->
