<%- include('layout/head') %>
<%- include(render.inc) %>
<%- include('layout/footer') %>

<%- include('./inc/admin/scripts/main-script.ejs') %>

<!-- HISTORY -->
<% if (render.code === 'CF_ROUTINGS_HISTORY.GET_LIST_HISTORY_GROUP_BY_USER' || render.code === 'CF_ROUTINGS_HISTORY.GET_LIST_HISTORY_BY_USER') { %>
	<%- include('../packages/history/views/scripts/history-script.ejs') %>
<% } %>

<% if (render.code === 'CF_ROUTINGS_HISTORY.GET_LIST_HISTORY_BY_USER_EMBED') { %>
	<%- include('../packages/history/views/scripts/history_embed-script.ejs') %>
<% } %>

<!-- USER -->
<% if (render.code === 'USER') { %>
	<%- include('../packages/users/views/scripts/manage_user-script.ejs') %>
<% } %>

<!-- TOKEN -->
<% if (render.code === 'TOKEN') { %>
	<%- include('./inc/admin/scripts/token-script.ejs') %>
<% } %>

<!-- STATISTIC -->
<% if (render.code === 'STATISTIC') { %>
	<%- include('./inc/admin/scripts/statistic-script.ejs') %>
<% } %>


<!------------------------- RULE 1 -------------------------------->

<!-- CAMPAIGN NEWBORN FOLLOWER -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.ADD_CAMPAIGN_NEWBORD_FOLLOWER) { %>
	<%- include('../packages/campaign_newbord_follower/views/campaign/scripts/add_campaign_newbord_follower-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.UPDATE_CAMPAIGN_NEWBORD_FOLLOWER) { %>
	<%- include('../packages/campaign_newbord_follower/views/campaign/scripts/update_campaign_newbord_follower-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.GET_LIST_CAMPAIGN_NEWBORD_FOLLOWER) { %>
	<%- include('../packages/campaign_newbord_follower/views/campaign/scripts/list_campaign_newbord_follower-script.ejs') %>
<% } %>

<!-- MILESTONE NEWBORN FOLLOWER -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.ADD_MILESTONE_CAMPAIGN_NEWBORD_FOLLOWER) { %>
	<%- include('../packages/campaign_newbord_follower/views/milestone/scripts/add_milestone_newbord_follower-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.UPDATE_MILESTONE_CAMPAIGN_NEWBORD_FOLLOWER) { %>
	<%- include('../packages/campaign_newbord_follower/views/milestone/scripts/update_milestone_newbord_follower-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.GET_LIST_MILESTONE_CAMPAIGN_NEWBORD_FOLLOWER) { %>
	<%- include('../packages/campaign_newbord_follower/views/milestone/scripts/list_milestone_newbord_follower-script.ejs') %>
<% } %>

<!-- LIMIT NEWBORN USER -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIMIT_NEWBORN.ADD_CAMPAIGN_LIMIT_NEWBORN) { %>
	<%- include('../packages/campaign_limit_newborn/views/campaign/scripts/add_campaign_limit_newborn-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIMIT_NEWBORN.UPDATE_CAMPAIGN_LIMIT_NEWBORN) { %>
	<%- include('../packages/campaign_limit_newborn/views/campaign/scripts/update_campaign_limit_newborn-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIMIT_NEWBORN.INFO_CAMPAIGN_LIMIT_NEWBORN) { %>
	<%- include('../packages/campaign_limit_newborn/views/campaign/scripts/detail_campaign_limit_newborn-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIMIT_NEWBORN.GET_LIST_CAMPAIGN_LIMIT_NEWBORN) { %>
	<%- include('../packages/campaign_limit_newborn/views/campaign/scripts/list_campaign_limit_newborn-script.ejs') %>
<% } %>

<!------------------------- END RULE 1 -------------------------------->



<!------------------------- RULE 2 -------------------------------->

<!-- CAMPAIGN CONFIRM -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_CONFIRM.ADD_CAMPAIGN_CONFIRM) { %>
	<%- include('../packages/campaign_confirm/views/campaign/scripts/add_campaign_confirm-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CONFIRM.UPDATE_CAMPAIGN_CONFIRM) { %>
	<%- include('../packages/campaign_confirm/views/campaign/scripts/update_campaign_confirm-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CONFIRM.GET_LIST_CAMPAIGN_CONFIRM) { %>
	<%- include('../packages/campaign_confirm/views/campaign/scripts/list_campaign_confirm-script.ejs') %>
<% } %>

<!-- MILESTONE CONFIRM -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_CONFIRM.ADD_MILESTONE_CAMPAIGN_CONFIRM) { %>
	<%- include('../packages/campaign_confirm/views/milestone/scripts/add_milestone_confirm-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CONFIRM.UPDATE_MILESTONE_CAMPAIGN_CONFIRM) { %>
	<%- include('../packages/campaign_confirm/views/milestone/scripts/update_milestone_confirm-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CONFIRM.GET_LIST_MILESTONE_CAMPAIGN_CONFIRM) { %>
	<%- include('../packages/campaign_confirm/views/milestone/scripts/list_milestone_confirm-script.ejs') %>
<% } %>

<!------------------------- END RULE 2 -------------------------------->



<!------------------------- RULE 3 -------------------------------->

<!-- CAMPAIGN APPROVE TEAM -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.ADD_CAMPAIGN_APPROVE_TEAM) { %>
	<%- include('../packages/campaign_approve_team/views/campaign/scripts/add_campaign_approve_team-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.UPDATE_CAMPAIGN_APPROVE_TEAM) { %>
	<%- include('../packages/campaign_approve_team/views/campaign/scripts/update_campaign_approve_team-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.GET_LIST_CAMPAIGN_APPROVE_TEAM) { %>
	<%- include('../packages/campaign_approve_team/views/campaign/scripts/list_campaign_approve_team-script.ejs') %>
<% } %>

<!-- MILESTONE APPROVE TEAM -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.ADD_MILESTONE_CAMPAIGN_APPROVE_TEAM) { %>
	<%- include('../packages/campaign_approve_team/views/milestone/scripts/add_milestone_approve_team-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.UPDATE_MILESTONE_CAMPAIGN_APPROVE_TEAM) { %>
	<%- include('../packages/campaign_approve_team/views/milestone/scripts/update_milestone_approve_team-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_APPROVE_TEAM.GET_LIST_MILESTONE_CAMPAIGN_APPROVE_TEAM) { %>
	<%- include('../packages/campaign_approve_team/views/milestone/scripts/list_milestone_approve_team-script.ejs') %>
<% } %>

<!------------------------- END RULE 3 -------------------------------->



<!------------------------- RULE 4 -------------------------------->

<!-- CAMPAIGN CREATE SCHEDULE -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.ADD_CAMPAIGN_CREATE_SCHEDULE) { %>
	<%- include('../packages/campaign_create_schedule/views/campaign/scripts/add_campaign_create_schedule-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.UPDATE_CAMPAIGN_CREATE_SCHEDULE) { %>
	<%- include('../packages/campaign_create_schedule/views/campaign/scripts/update_campaign_create_schedule-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.GET_LIST_CAMPAIGN_CREATE_SCHEDULE) { %>
	<%- include('../packages/campaign_create_schedule/views/campaign/scripts/list_campaign_create_schedule-script.ejs') %>
<% } %>

<!-- MILESTONE CREATE SCHEDULE -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.ADD_MILESTONE_CAMPAIGN_CREATE_SCHEDULE) { %>
	<%- include('../packages/campaign_create_schedule/views/milestone/scripts/add_milestone_create_schedule-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.UPDATE_MILESTONE_CAMPAIGN_CREATE_SCHEDULE) { %>
	<%- include('../packages/campaign_create_schedule/views/milestone/scripts/update_milestone_create_schedule-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.GET_LIST_MILESTONE_CAMPAIGN_CREATE_SCHEDULE) { %>
	<%- include('../packages/campaign_create_schedule/views/milestone/scripts/list_milestone_create_schedule-script.ejs') %>
<% } %>

<!------------------------- END RULE 4 -------------------------------->



<!------------------------- RULE 5 -------------------------------->

<!-- CAMPAIGN LIKE -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIKE.ADD_CAMPAIGN_LIKE) { %>
	<%- include('../packages/campaign_like/views/campaign/scripts/add_campaign_like-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIKE.UPDATE_CAMPAIGN_LIKE) { %>
	<%- include('../packages/campaign_like/views/campaign/scripts/update_campaign_like-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIKE.GET_LIST_CAMPAIGN_LIKE) { %>
	<%- include('../packages/campaign_like/views/campaign/scripts/list_campaign_like-script.ejs') %>
<% } %>

<!-- MILESTONE LIKE -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIKE.ADD_MILESTONE_CAMPAIGN_LIKE) { %>
	<%- include('../packages/campaign_like/views/milestone/scripts/add_milestone_like-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIKE.UPDATE_MILESTONE_CAMPAIGN_LIKE) { %>
	<%- include('../packages/campaign_like/views/milestone/scripts/update_milestone_like-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_LIKE.GET_LIST_MILESTONE_CAMPAIGN_LIKE) { %>
	<%- include('../packages/campaign_like/views/milestone/scripts/list_milestone_like-script.ejs') %>
<% } %>

<!------------------------- END RULE 5 -------------------------------->



<!------------------------- RULE 6 -------------------------------->

<!-- CAMPAIGN AWARDS -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_AWARDS.ADD_CAMPAIGN_AWARDS) { %>
	<%- include('../packages/campaign_awards/views/campaign/scripts/add_campaign_awards-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_AWARDS.UPDATE_CAMPAIGN_AWARDS) { %>
	<%- include('../packages/campaign_awards/views/campaign/scripts/update_campaign_awards-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_AWARDS.GET_LIST_CAMPAIGN_AWARDS) { %>
	<%- include('../packages/campaign_awards/views/campaign/scripts/list_campaign_awards-script.ejs') %>
<% } %>

<!-- MILESTONE AWARDS -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_AWARDS.ADD_MILESTONE_CAMPAIGN_AWARDS) { %>
	<%- include('../packages/campaign_awards/views/milestone/scripts/add_milestone_awards-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_AWARDS.UPDATE_MILESTONE_CAMPAIGN_AWARDS) { %>
	<%- include('../packages/campaign_awards/views/milestone/scripts/update_milestone_awards-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_AWARDS.GET_LIST_MILESTONE_CAMPAIGN_AWARDS) { %>
	<%- include('../packages/campaign_awards/views/milestone/scripts/list_milestone_awards-script.ejs') %>
<% } %>

<!------------------------- END RULE 6 -------------------------------->



<!------------------------- RULE 7 -------------------------------->

<!-- CAMPAIGN CREATE POST -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_POST.ADD_CAMPAIGN_CREATE_POST) { %>
	<%- include('../packages/campaign_create_post/views/campaign/scripts/add_campaign_create_post-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_POST.UPDATE_CAMPAIGN_CREATE_POST) { %>
	<%- include('../packages/campaign_create_post/views/campaign/scripts/update_campaign_create_post-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_POST.GET_LIST_CAMPAIGN_CREATE_POST) { %>
	<%- include('../packages/campaign_create_post/views/campaign/scripts/list_campaign_create_post-script.ejs') %>
<% } %>

<!-- MILESTONE CREATE POST -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_POST.ADD_MILESTONE_CAMPAIGN_CREATE_POST) { %>
	<%- include('../packages/campaign_create_post/views/milestone/scripts/add_milestone_create_post-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_POST.UPDATE_MILESTONE_CAMPAIGN_CREATE_POST) { %>
	<%- include('../packages/campaign_create_post/views/milestone/scripts/update_milestone_create_post-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_CREATE_POST.GET_LIST_MILESTONE_CAMPAIGN_CREATE_POST) { %>
	<%- include('../packages/campaign_create_post/views/milestone/scripts/list_milestone_create_post-script.ejs') %>
<% } %>

<!------------------------- END RULE 7 -------------------------------->



<!------------------------- RULE 8 -------------------------------->

<!-- CAMPAIGN MINI-GAME -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_MINIGAME.ADD_CAMPAIGN_MINIGAME) { %>
	<%- include('../packages/campaign_minigame/views/campaign/scripts/add_campaign_minigame-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_MINIGAME.UPDATE_CAMPAIGN_MINIGAME) { %>
	<%- include('../packages/campaign_minigame/views/campaign/scripts/update_campaign_minigame-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_MINIGAME.GET_LIST_CAMPAIGN_MINIGAME) { %>
	<%- include('../packages/campaign_minigame/views/campaign/scripts/list_campaign_minigame-script.ejs') %>
<% } %>

<!-- MILESTONE MINI-GAME -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_MINIGAME.ADD_MILESTONE_CAMPAIGN_MINIGAME) { %>
	<%- include('../packages/campaign_minigame/views/milestone/scripts/add_milestone_minigame-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_MINIGAME.UPDATE_MILESTONE_CAMPAIGN_MINIGAME) { %>
	<%- include('../packages/campaign_minigame/views/milestone/scripts/update_milestone_minigame-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_MINIGAME.GET_LIST_MILESTONE_CAMPAIGN_MINIGAME) { %>
	<%- include('../packages/campaign_minigame/views/milestone/scripts/list_milestone_minigame-script.ejs') %>
<% } %>

<!------------------------- END RULE 8 -------------------------------->



<!------------------------- RULE 9 -------------------------------->

<!-- CAMPAIGN UPDATE-RESULT -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.ADD_CAMPAIGN_UPDATE_RESULT) { %>
	<%- include('../packages/campaign_update_result/views/campaign/scripts/add_campaign_update_result-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.UPDATE_CAMPAIGN_UPDATE_RESULT) { %>
	<%- include('../packages/campaign_update_result/views/campaign/scripts/update_campaign_update_result-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.GET_LIST_CAMPAIGN_UPDATE_RESULT) { %>
	<%- include('../packages/campaign_update_result/views/campaign/scripts/list_campaign_update_result-script.ejs') %>
<% } %>

<!-- MILESTONE UPDATE-RESULT -->
<% if (render.code === CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.ADD_MILESTONE_CAMPAIGN_UPDATE_RESULT) { %>
	<%- include('../packages/campaign_update_result/views/milestone/scripts/add_milestone_update_result-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.UPDATE_MILESTONE_CAMPAIGN_UPDATE_RESULT) { %>
	<%- include('../packages/campaign_update_result/views/milestone/scripts/update_milestone_update_result-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.GET_LIST_MILESTONE_CAMPAIGN_UPDATE_RESULT) { %>
	<%- include('../packages/campaign_update_result/views/milestone/scripts/list_milestone_update_result-script.ejs') %>
<% } %>

<!------------------------- END RULE 9 -------------------------------->