<script>
	$(document).ready(function () {

		$('#btnUpdateCampaignLimitNewborn').on('click', function () {
			const campaignID 				= $(this).attr('__campaignID');
			const campaignName 				= $('#inputNameCampaign').val().trim();
			const dateStart 				= $('#inputDateStart').val().trim();
			const dateEnd 					= $('#inputDateEnd').val().trim();
			const limitNewbornFollowClub 	= $('#inputLimitNewbornClub').val().trim();
			const limitNewbornFollowSeason 	= $('#inputLimitNewbornSeason').val().trim();

			if(!campaignID){
				return AlertCustom({ title: "ID chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!campaignName){
				return AlertCustom({ title: "Bạn cần nhập tên chiến dịch", icon: 'warning' });
			}

			if(!dateStart || !dateEnd){
				return AlertCustom({ title: "Bạn cần nhập ngày bắt đầu và ngày kết thúc chiến dịch", icon: 'warning' });
			}

			if(!limitNewbornFollowClub || !limitNewbornFollowSeason){
				return AlertCustom({ title: "Bạn cần nhập ngưỡng cho chiến dịch", icon: 'warning' });
			}

			if(limitNewbornFollowClub <= 0 || limitNewbornFollowSeason <= 0){
				return AlertCustom({ title: "Ngưỡng phải lớn hơn 0", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_LIMIT_NEWBORN.UPDATE_CAMPAIGN_LIMIT_NEWBORN %>`,
				data: { campaignID, campaignName, dateStart, dateEnd, limitNewbornFollowClub, limitNewbornFollowSeason },
			}).done(resp => {
				const { error, message } = resp;
			
				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật chiến dịch thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>