<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestoneConfirm').on('click', function () {
			const campaignID	 = campaignIDParam;
			const milestoneName	 = $('#inputNameMilestone').val().trim();
			const fromNumConfirm = $('#inputFromNumConfirm').val().trim();
			const toNumConfirm 	 = $('#inputToNumConfirm').val().trim() || -1;
			const tokenAmount	 = $('#inputTokenAmount').val().trim();

			console.log({ fromNumConfirm, toNumConfirm, check: toNumConfirm && +fromNumConfirm > +toNumConfirm });

			if(!campaignIDParam){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumConfirm){
				return AlertCustom({ title: "Bạn cần nhập số lần xác minh", icon: 'warning' });
			}

			if(+fromNumConfirm > +toNumConfirm && toNumConfirm !== -1){
				return AlertCustom({ title: "Phạm vi số lần xác minh không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_CONFIRM.ADD_MILESTONE_CAMPAIGN_CONFIRM %>`,
				data: { campaignID, milestoneName, fromNumConfirm, toNumConfirm, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputFromNumConfirm').val('');
				$('#inputToNumConfirm').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>