<script>
	$(document).ready(function () {

		$('#btnUpdateMilestoneConfirm').on('click', function () {
			const milestoneID 	 = $(this).attr('__milestoneID');
			const milestoneName	 = $('#inputNameMilestone').val().trim();
			const fromNumConfirm = $('#inputFromNumConfirm').val().trim();
			const toNumConfirm 	 = $('#inputToNumConfirm').val().trim() || -1;
			const tokenAmount	 = $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumConfirm){
				return AlertCustom({ title: "Bạn cần nhập số lần xác minh", icon: 'warning' });
			}

			if(+fromNumConfirm > +toNumConfirm && toNumConfirm !== -1){
				return AlertCustom({ title: "Phạm vi số lần xác minh không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_CONFIRM.UPDATE_MILESTONE_CAMPAIGN_CONFIRM %>`,
				data: { milestoneID, milestoneName, fromNumConfirm, toNumConfirm, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>