<script>
	$(document).ready(function () {

		$('#inputContinuous').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			// increaseArea: '20%' // optional
		});

		$('#inputContinuous').on('ifChanged', function(event){
			let isChecked = $(this).is(':checked');
			$('#inputNumPost').prop('disabled', isChecked).val(isChecked ? 1 : '');
		});

		let urlParams 			= new URLSearchParams(location.search);
        let campaignIDParam 	= urlParams.get('campaignID');

		const renderRangeDate = period => {
			let arrDays = new Array(+period).fill(0);
			let htmlDateList = '';

			arrDays.map((value, index) => {
				htmlDateList += `
					<div class="input-group mb-1">
						<span class="input-group-text">Ngày</span>
						<input type="number" class="form-control input-date-create-post" value="${index + 1}" disabled>
						<span class="input-group-text">Token</span>
						<input type="number" class="form-control input-point-create-post" placeholder="1.5">
					</div>
				`;
			})

			$('.container-date-list').html(htmlDateList);
		}

		$('.btn-open-popup-config-point').on('click', function () {
			const period 		= $('#inputPeriod').val().trim();
			const continuous 	= $('#inputContinuous').is(':checked');

			if(!period || !continuous){
				return AlertCustom({ title: "Bạn cần nhập chu kì tạo bài viết và chọn đều đặn mỗi ngày", icon: 'warning' });
			}

			$('#modal-config-point').modal('show');
			renderRangeDate(period);
		});

		$('#btnCreateMilestone').on('click', function () {
			const campaignID	= campaignIDParam;
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const numPost		= $('#inputNumPost').val().trim();
			const period		= $('#inputPeriod').val().trim();
			const limit			= $('#inputLimit').val().trim();
			const delayTime		= $('#inputDelayTime').val().trim();
			const continuous	= $('#inputContinuous').is(':checked');
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!campaignIDParam){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!numPost){
				return AlertCustom({ title: "Số lượng tạo bài viết không hợp lệ", icon: 'warning' });
			}

			if(!period){
				return AlertCustom({ title: "Bạn cần nhập chu kì tạo bài viết", icon: 'warning' });
			}

			if(+numPost <= 0){
				return AlertCustom({ title: "Số lượng tạo bài viết không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			if(continuous && $('.container-date-list').html().trim() === ''){
				renderRangeDate(period);
			}

			if(!continuous){
				$('.container-date-list').html('');
			}

			let listPointMilestone = [];
			$('.container-date-list .input-group').each((i, elem) => {
				const date 	= $(elem).find('.input-date-create-post').val();
				const point = $(elem).find('.input-point-create-post').val() || tokenAmount;
				listPointMilestone[listPointMilestone.length] = { date, point };
			})

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_CREATE_POST.ADD_MILESTONE_CAMPAIGN_CREATE_POST %>`,
				data: { campaignID, milestoneName, numPost, period, limit, continuous, delayTime, tokenAmount, listPointMilestone },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputNumPost').val('');
				$('#inputPeriod').val('');
				$('#inputLimit').val('');
				$('#inputTokenAmount').val('');
				$('#inputContinuous').iCheck('uncheck');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>