<script>
	$(document).ready(function () {

		$('#inputContinuous').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			// increaseArea: '20%' // optional
		});

		$('#inputContinuous').on('ifChanged', function(event){
			let isChecked = $(this).is(':checked');
			$('#inputNumPost').prop('disabled', isChecked).val(isChecked ? 1 : '');
		});

		let periodOld = $('#inputPeriod').val().trim();

		const renderRangeDate = (previousPeriod = 0) => {
			let htmlDateList = '';
			let isRender	 = true;
			let period 		 = +$('#inputPeriod').val().trim();
			previousPeriod 	 = +previousPeriod;

			if(period > previousPeriod){
				period = period - previousPeriod;
			} 
			else if(period < previousPeriod){
				let sliceDay = $('.container-date-list .input-group').find(`.input-date-create-post[value=${period}]`);
				if(sliceDay.length){
					sliceDay.parent().nextAll().remove();
				}
				isRender = false;
			} 
			else if(period === previousPeriod){
				period = 0;
			}

			let arrDays = new Array(period).fill(0);
			let lastDay = +$('.container-date-list .input-group').last().find('.input-date-create-post').val() || 0;

			arrDays.map((value, index) => {
				htmlDateList += `
					<div class="input-group mb-1">
						<span class="input-group-text">Ngày</span>
						<input type="number" class="form-control input-date-create-post" value="${lastDay + index + 1}" disabled>
						<span class="input-group-text">Token</span>
						<input type="number" class="form-control input-point-create-post" placeholder="1.5" value="0">
					</div>
				`;
			})

			if(isRender){
				$('.container-date-list').append(htmlDateList);
			}

			periodOld = +$('#inputPeriod').val().trim();
		}

		$('.btn-open-popup-config-point').on('click', function () {
			const period 		= $('#inputPeriod').val().trim();
			const continuous 	= $('#inputContinuous').is(':checked');

			if(!period || !continuous){
				return AlertCustom({ title: "Bạn cần nhập chu kì tạo bài viết và chọn đều đặn mỗi ngày", icon: 'warning' });
			}

			$('#modal-config-point').modal('show');
			renderRangeDate(periodOld);

			if($('.container-date-list').html().trim() === ''){
			}
		});

		$('#btnUpdateMilestone').on('click', function () {
			const milestoneID 	= $(this).attr('__milestoneID');
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const numPost		= $('#inputNumPost').val().trim();
			const period		= $('#inputPeriod').val().trim();
			const limit			= $('#inputLimit').val().trim();
			const delayTime		= $('#inputDelayTime').val().trim();
			const continuous	= $('#inputContinuous').is(':checked');
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc",  });
			}

			if(!numPost){
				return AlertCustom({ title: "Số lượng tạo bài viết không hợp lệ", icon: 'warning' });
			}

			if(!period){
				return AlertCustom({ title: "Bạn cần nhập chu kì tạo bài viết", icon: 'warning' });
			}

			if(+numPost <= 0){
				return AlertCustom({ title: "Số lượng tạo bài viết không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			if(continuous && $('.container-date-list').html().trim() === ''){
				renderRangeDate(periodOld);
			}

			if(!continuous){
				$('.container-date-list').html('');
			}

			let listPointMilestone = [];
			$('.container-date-list .input-group').each((i, elem) => {
				const date 	= $(elem).find('.input-date-create-post').val();
				const point = $(elem).find('.input-point-create-post').val() || tokenAmount;
				listPointMilestone[listPointMilestone.length] = { date, point };
			})

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_CREATE_POST.UPDATE_MILESTONE_CAMPAIGN_CREATE_POST %>`,
				data: { 
					milestoneID, milestoneName, numPost, period, limit, 
					continuous, tokenAmount, delayTime, listPointMilestone
				},
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>