<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestone').on('click', function () {
			const campaignID		= campaignIDParam;
			const milestoneName		= $('#inputNameMilestone').val().trim();
			const numMinMatch		= $('#inputNumMinMatch').val().trim();
			const numMatchGetPoint	= $('#inputNumMatchGetPoint').val().trim();
			const tokenAmount		= $('#inputTokenAmount').val().trim();

			if(!campaignID){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!numMinMatch || +numMinMatch <= 0){
				return AlertCustom({ title: "Số trận tối thiểu không hợp lệ", icon: 'warning' });
			}

			if(!numMatchGetPoint || +numMatchGetPoint <= 0){
				return AlertCustom({ title: "Số trận tích điểm không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.ADD_MILESTONE_CAMPAIGN_UPDATE_RESULT %>`,
				data: { campaignID, milestoneName, numMinMatch, numMatchGetPoint, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputNumMinMatch').val('');
				$('#inputNumMatchGetPoint').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>