<script>
	$(document).ready(function () {

		$('#btnUpdateMilestone').on('click', function () {
			const milestoneID 		= $(this).attr('__milestoneID');
			const milestoneName		= $('#inputNameMilestone').val().trim();
			const numMinMatch		= $('#inputNumMinMatch').val().trim();
			const numMatchGetPoint	= $('#inputNumMatchGetPoint').val().trim();
			const tokenAmount		= $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!numMinMatch || +numMinMatch <= 0){
				return AlertCustom({ title: "Số trận tối thiểu không hợp lệ", icon: 'warning' });
			}

			if(!numMatchGetPoint || +numMatchGetPoint <= 0){
				return AlertCustom({ title: "Số trận tích điểm không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_UPDATE_RESULT.UPDATE_MILESTONE_CAMPAIGN_UPDATE_RESULT %>`,
				data: { milestoneID, milestoneName, numMinMatch, numMatchGetPoint, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>