<!DOCTYPE html>
<!--
Template Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://1.envato.market/modern_admin
Renew Support: https://1.envato.market/modern_admin
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>Login Page - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../template/assets/image/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/components.min.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/core/menu/menu-types/vertical-content-menu.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/core/colors/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/app-assets/css/pages/login-register.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../template/modern-admin-bt-4/assets/css/style.css">
    <!-- END: Custom CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-content-menu 1-column   blank-page" data-open="click" data-menu="vertical-content-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
			<section class="row flexbox-container">
				<div class="col-12 d-flex align-items-center justify-content-center">
					<div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
					<div class="card border-grey border-lighten-3 m-0">
						<div class="card-header border-0">
						<div class="card-title text-center">
							<div class="p-1">
								<img src="../../../template/assets/image/logo-vtoken.png" alt="branding logo" style="width: 150px;height: 150px;">
							</div>
						</div>
						<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
							<span>ĐĂNG NHẬP</span>
						</h6>
						</div>
						<div class="card-content">
						<div class="card-body">
							<form class="form-horizontal form-simple" action="index.html" novalidate>
								<fieldset class="form-group position-relative has-icon-left mb-0">
									<input type="text" class="form-control" id="inputEmail" placeholder="Nhập email" required>
									<div class="form-control-position">
									<i class="la la-user"></i>
									</div>
								</fieldset>
								<fieldset class="form-group position-relative has-icon-left">
									<input type="password" class="form-control" id="inputPassword" placeholder="Nhập mật khẩu" required>
									<div class="form-control-position">
									<i class="la la-key"></i>
									</div>
								</fieldset>
								<!-- <div class="form-group row">
									<div class="col-sm-6 col-12 text-center text-sm-left" style="visibility: hidden;">
										<fieldset>
											<input type="checkbox" id="remember-me" class="chk-remember">
											<label for="remember-me"> Remember Me</label>
										</fieldset>
									</div>
									<div class="col-sm-6 col-12 text-center text-sm-right"><a href="recover-password.html"
										class="card-link">Quền mật khẩu?</a>
									</div>
								</div> -->
								<button type="button" class="btn btn-warning btn-block" id="btnLogin">
									<i class="ft-unlock"></i> Đăng nhập
								</button>
							</form>
						</div>
						</div>
						<div class="card-footer">
						<div class="">
							<p class="float-right text-center m-0">
								<a href="/forgot-password" class="card-link text-warning">
									Quên mật khẩu?
								</a>
							</p>
							<!-- <p class="float-xl-right text-center m-0">Chưa có tài khoản? <a href="/register"
								class="card-link">Đăng ký</a>
							</p> -->
						</div>
						</div>
					</div>
					</div>
				</div>
			</section>

        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/ui/headroom.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../template/modern-admin-bt-4/app-assets/js/core/app-menu.min.js"></script>
    <script src="../../../template/modern-admin-bt-4/app-assets/js/core/app.min.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../template/modern-admin-bt-4/app-assets/js/scripts/forms/form-login-register.min.js"></script>
    <!-- END: Page JS-->

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		$(document).ready(function(){

			const AlertCustom = ({ icon = 'info', title, position = 'top', timer = 1500 }) => {
				return Swal.mixin({
					toast: true,
					position,
					showConfirmButton: false,
					timer,
					didOpen: (toast) => {
						toast.addEventListener('mouseenter', Swal.stopTimer)
						toast.addEventListener('mouseleave', Swal.resumeTimer)
					}
				}).fire({
					icon,
					title
				})
			}

			$('#btnLogin').on('click', function(e){
				let email 	 = $('#inputEmail').val();
				let password = $('#inputPassword').val();

				if(!email) return AlertCustom({ title: 'Bạn cần nhập email đăng nhập', icon: 'warning' });
				if(!password) return AlertCustom({ title: 'Bạn cần nhập mật khẩu đăng nhập', icon: 'warning' });

				$.ajax({
					type: 'POST',
					url: `/login`,
					data: { email, password },
				}).done(resp => {
					const { error, message } = resp;

					if(error){
						return AlertCustom({ title: message, icon: 'warning' });
					}

					AlertCustom({ title: 'Đăng nhập thành công', icon: 'success' });
					setTimeout(() => location.replace('/admin/history'), 700);
				}).fail(err => AlertCustom({ title: err.message, icon: 'error' }))
	
			});

		})
	</script>

  </body>
  <!-- END: Body-->
</html>