<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Chi tiết lịch sử
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="row breadcrumbs-top">
					<div class="breadcrumb-wrapper col-12">
					  <ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/admin/history/list/<%= infoHistory.user %>">
								Lịch sử tích điểm của user
							</a>
						</li>
						<li class="breadcrumb-item active">
							<i class="la la-angle-right"></i>
							Chi tiết lịch sử
						</li>
					  </ol>
					</div>
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header" style="padding-bottom: 0;">
						<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
							<i class="la la-info-circle"></i>
							Thông tin lịch sử
						</button>
						<!-- <a data-action="reload">Reload</a> -->
					</div>
	
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<p>User ID</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoHistory.user %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Rule</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= TYPE_RULE_WITH_KEY[history.rule].text %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Cột mốc</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoHistory.milestone && infoHistory.milestone.item.milestoneName %>">
								</fieldset>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col-4">
								<p>Điểm hiện tại</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoHistory.currentPoint %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Điểm được tích</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoHistory.newPoint %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Điểm sau khi tích</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoHistory.afterPoint %>">
								</fieldset>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col-12">
								<p>Meta</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= JSON.stringify(infoHistory.metadata) %>">
								</fieldset>
							</div>
						</div>

						<div class="row d-flex justify-content-end mt-4">
							<a href="/admin/history/user/<%= infoHistory.user %>" class="btn btn-warning btn-min-width mr-1 mb-1">
								Chi tiết điểm
							</a>
							<a href="/admin/history/list/<%= infoHistory.user %>" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
								Quay lại
							</a>
						</div>

					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
