<div class="content-body"><!-- Basic Inputs start -->
	<%
		let { infoCurrentPoint, lastHistoryPoint } = infoPointOfUser;
		let ruleText = '';

		switch (lastHistoryPoint.rule) {
			case TYPE_RULE.CONFIRM_SEASON:
				ruleText = 'Xác minh giải đấu';
				break;
			case TYPE_RULE.NEWBORD_FOLLOWER:
				ruleText = 'Newborn Follower';
				break;
			case TYPE_RULE.APPROVE_TEAM:
				ruleText = 'Duyệt đội tham dự giải đấu';
				break;
			case TYPE_RULE.CREATE_SCHEDULE:
				ruleText = 'Tạo lịch thi đấu';
				break;
			default:
				break;
		}
	%>
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Thông tin điểm của user
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="row breadcrumbs-top">
					<div class="breadcrumb-wrapper col-12">
					  <ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/admin/history/list/<%= infoCurrentPoint.userID %>">
								Lịch sử tích điểm của user
							</a>
						</li>
						<li class="breadcrumb-item active">
							<i class="la la-angle-right"></i>
							Thông tin điểm hiện tại
						</li>
					  </ol>
					</div>
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header" style="padding-bottom: 0;">
						<button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
							<i class="la la-info-circle"></i>
							Thông tin điểm
						</button>
						<!-- <a data-action="reload">Reload</a> -->
					</div>
	
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<p>User ID</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoCurrentPoint.userID %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Điểm hiện tại</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= infoCurrentPoint.point %>">
								</fieldset>
							</div>
							<div class="col-4">
								<p>Cột mốc cuối tích điểm</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= lastHistoryPoint.milestone && lastHistoryPoint.milestone.item.milestoneName %>">
								</fieldset>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col-4">
								<p>Rule cuối tích điểm</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= ruleText %>">
								</fieldset>
							</div>
							<div class="col-8">
								<p>Meta</p>
								<fieldset class="form-group">
									<input type="text" class="form-control" disabled placeholder="......" value="<%= JSON.stringify(lastHistoryPoint.metadata) %>">
								</fieldset>
							</div>
						</div>

						<div class="row d-flex justify-content-end mt-4">
							<a href="/admin/history/list/<%= infoCurrentPoint.userID %>" class="btn btn-warning btn-min-width mr-1 mb-1">
								Quay lại
							</a>
						</div>

					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
