<style>
	.table-data-history-user tbody td,
	.table-data-history-user thead th{
		text-align: center !important;
		padding: 20px !important;
	}
</style>

<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Lịch sử tích điểm theo user
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header d-flex justify-content-start" style="padding-bottom: 0;">
						<a href="/admin/history" class="btn btn-outline-warning btn-min-width mr-1 mb-1">
							<i class="ft-chevrons-left"></i>
							Quay lại
						</a>
					</div>
	
					<div class="card-body card-dashboard">
						<div class="table-responsive">
							<table class="table table-data-history-user">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center">Giải đấu</th>
										<th class="text-center">Rule</th>
										<th class="text-center">Điểm hiện tại</th>
										<th class="text-center">Điểm được tích</th>
										<th class="text-center">Điểm sau khi tích</th>
										<th class="text-center">Trạng thái</th>
										<th class="text-center">Cột mốc</th>
										<th class="text-center">Ngày tạo</th>
									</tr>
								</thead>
								<tbody>
									<% if (listHistoryPoint && listHistoryPoint.length) { %>
										<% listHistoryPoint.forEach((history, index) => { %>
											<tr>
												<td class="text-center">
													<i> <%= index + 1 %> </i>
												</td>
												<!-- <td class="text-center">
													<a href="/admin/history/id/<%= history._id %>">
														<span class="text-warning">
															<%= history.user %>
														</span>
													</a>
												</td> -->
												<td class="text-center">
													<h5>
														<span class="text-warning">
															<%= TYPE_RULE_WITH_KEY[history.rule].text %>
														</span>
													</h5>
												</td>
												<td class="text-center">
													<span class="text-warning">
														<%= history.currentPoint %>
													</span>
												</td>
												<td class="text-center">
													<span class="text-warning">
														<%= history.newPoint %>
													</span>
												</td>
												<td class="text-center">
													<span class="text-warning">
														<%= history.afterPoint %>
													</span>
												</td>
												<td class="text-center">
													<h5>
														<% if (history.metadata && history.metadata.status) { %>
														 
															<% if (history.metadata.status === 'pending') { %>
																<div class="badge badge-custom round badge-secondary">Đang chờ</div>
															<% } %>

															<% if (history.metadata.status === 'updated') { %>
																<div class="badge badge-custom round badge-success">Đã tích</div>
															<% } %>

														<% } else{ %>
															<div class="badge badge-custom round badge-success">Đã tích</div>
														<% } %>
													</h5>
												</td>
												<td class="text-center">
													<i> <%= history.milestone && history.milestone.item.milestoneName %> </i>
												</td>
												<td class="text-center">
													<%= moment(history.createAt).format('LT') %> - 
													<%= moment(history.createAt).format('DD/MM/YYYY') %>
												</td>
											</tr>
										<% }) %>
									<% } %>

								</tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
