<style>
	.table-data tbody td{
		text-align: center !important;
	}
</style>

<div class="content-body"><!-- Basic Inputs start -->
			
	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Lịch sử tích điểm
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
					<div class="card-header d-flex justify-content-between" style="padding-bottom: 0;">
						<!-- <fieldset class="form-group position-relative">
							<select class="form-control" id="scStatusCampaign">
								<option selected value="null">Trạng thái</option>
								<option value="0">Không chạy</option>
								<option value="1">Đang chạy</option>
								<option value="2">Đã kết thúc</option>
							</select>
						</fieldset> -->
					</div>
	
					<div class="card-body card-dashboard">
						<div class="table-responsive">
							<table class="table table-data">
								<thead>
									<tr>
										<th class="text-center"></th>
										<th class="text-center">Mã Người Dùng (VSports)</th>
										<!-- <th class="text-center">Họ và tên</th> -->
										<th class="text-center">Điểm hiện tại</th>
										<th class="text-center">Lần tích điểm cuối</th>
										<th class="text-center">Chiến dịch gần nhất</th>
										<th class="text-center">Cột mốc gần nhất</th>
									</tr>
								</thead>
								<tbody>
									<% if (listHistoryPoint && listHistoryPoint.length) { %>
										<% listHistoryPoint.forEach((history, index) => { %>
											<% let { userID, infoLastHistory, afterPoint, campaignName, milestoneName, createAt } = history; %>

											<tr>
												<td class="text-center">
													<i> <%= index + 1 %> </i>
												</td>
												<td class="text-center">
													<a href="/admin/history/list/<%= userID %>">
														<span class="text-warning">
															<%= userID %>
														</span>
													</a>
												</td>
												<!-- <td class="text-center">
													
												</td> -->
												<td class="text-center">
													<span class="text-warning">
														<%= afterPoint %>
													</span>
												</td>
												<td class="text-center">
													<span>
														<%= moment(createAt).format('HH:mm - DD/MM/YYYY') %>
													</span>
												</td>
												<td class="text-center">
													<span>
														<%= campaignName %>
														<%#= milestone.item.campaignID && milestone.item.campaignID.campaignName %>
													</span>
												</td>
												<td class="text-center">
													<i>
														<%= milestoneName %>
														<%#= milestone.item.milestoneName %>
													</i>
												</td>
											</tr>
										<% }) %>
									<% } %>

								</tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
