<style>
	.table-data{
		width: 100% !important;
	}
	.table-data tbody td{
		text-align: center !important;
	}
    body.vertical-content-menu .content-body{
        margin-left: 0 !important;
    }
</style>

<div class="content-body"><!-- Basic Inputs start -->

	<section class="basic-inputs">
		<div class="row match-height">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="text-center">
							<i class="la la-hand-o-right" style="font-size: 25px;"></i>
							Tổng điểm hiện tại cuả người dùng: <span class="text-danger" style="font-weight: bolder;"><%= totalPointOfUser %></span>
						</h2>
					</div>
	
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 mt-2">
				<div class="card">
	
					<div class="card-body card-dashboard">
						<div class="table-responsive">
							<table class="table table-data" style="width: 100% !important">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center">Giải đấu</th>
										<th class="text-center">Rule</th>
										<th class="text-center">Điểm hiện tại</th>
										<th class="text-center">Điểm được tích</th>
										<th class="text-center">Điểm sau khi tích</th>
										<th class="text-center">Trạng thái</th>
										<th class="text-center">Cột mốc</th>
										<th class="text-center">Ngày tạo</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>

</div>
</div>
</div>
<!-- END: Content-->
