<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestone').on('click', function () {
			const campaignID	= campaignIDParam;
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const numVote		= $('#inputNumVote').val().trim();
			const numPost		= $('#inputNumPost').val().trim();
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!campaignID){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!numVote){
				return AlertCustom({ title: "Bạn cần nhập số lượt bình chọn", icon: 'warning' });
			}

			if(!numPost){
				return AlertCustom({ title: "Bạn cần nhập số lần tạo bài viết", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_MINIGAME.ADD_MILESTONE_CAMPAIGN_MINIGAME %>`,
				data: { campaignID, milestoneName, numVote, numPost, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputNumVote').val('');
				$('#inputNumPost').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>