<script>
	$(document).ready(function () {

		$('#btnUpdateMilestone').on('click', function () {
			const milestoneID 	= $(this).attr('__milestoneID');
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const numVote		= $('#inputNumVote').val().trim();
			const numPost		= $('#inputNumPost').val().trim();
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!numVote){
				return AlertCustom({ title: "Bạn cần nhập số lượt bình chọn", icon: 'warning' });
			}

			if(!numPost){
				return AlertCustom({ title: "Bạn cần nhập số lần tạo bài viết", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_MINIGAME.UPDATE_MILESTONE_CAMPAIGN_MINIGAME %>`,
				data: { milestoneID, milestoneName, numVote, numPost, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>