<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestoneCreateSchedule').on('click', function () {
			const campaignID	= campaignIDParam;
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromNumCreate	= $('#inputFromNumCreate').val().trim();
			const toNumCreate	= $('#inputToNumCreate').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!campaignIDParam){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromNumCreate){
				return AlertCustom({ title: "Bạn cần nhập mốc tạo", icon: 'warning' });
			}

			if(+fromNumCreate > +toNumCreate && toNumCreate !== -1){
				return AlertCustom({ title: "Phạm vi tạo không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_CREATE_SCHEDULE.ADD_MILESTONE_CAMPAIGN_CREATE_SCHEDULE %>`,
				data: { campaignID, milestoneName, fromNumCreate, toNumCreate, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputFromNumCreate').val('');
				$('#inputToNumCreate').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>