<script>
	$(document).ready(function () {

		let urlParams 		= new URLSearchParams(location.search);
        let campaignIDParam = urlParams.get('campaignID');

		$('#btnCreateMilestoneNewbordFollower').on('click', function () {
			const campaignID	= campaignIDParam;
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromFollower 	= $('#inputFromFollower').val().trim();
			const toFollower	= $('#inputToFollower').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!campaignIDParam){
				return AlertCustom({ title: "ID Chiến dịch không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromFollower){
				return AlertCustom({ title: "Bạn cần nhập mốc follower", icon: 'warning' });
			}

			if(+fromFollower > +toFollower && toFollower !== -1){
				return AlertCustom({ title: "Phạm vi follower không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'POST',
				url: `<%= CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.ADD_MILESTONE_CAMPAIGN_NEWBORD_FOLLOWER %>`,
				data: { campaignID, milestoneName, fromFollower, toFollower, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				$('#inputNameMilestone').val('');
				$('#inputFromFollower').val('');
				$('#inputToFollower').val('');
				$('#inputTokenAmount').val('');

				AlertCustom({ title: 'Tạo mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>