<script>
	$(document).ready(function () {

		$('#btnUpdateMilestoneNewbordFollower').on('click', function () {
			const milestoneID 	= $(this).attr('__milestoneID');
			const milestoneName	= $('#inputNameMilestone').val().trim();
			const fromFollower 	= $('#inputFromFollower').val().trim();
			const toFollower	= $('#inputToFollower').val().trim() || -1;
			const tokenAmount	= $('#inputTokenAmount').val().trim();

			if(!milestoneID){
				return AlertCustom({ title: "ID mốc không tồn tại", icon: 'warning' });
			}

			if(!milestoneName){
				return AlertCustom({ title: "Bạn cần nhập tên mốc", icon: 'warning' });
			}

			if(!fromFollower){
				return AlertCustom({ title: "Bạn cần nhập mốc follower", icon: 'warning' });
			}

			if(+fromFollower > +toFollower && toFollower !== -1){
				return AlertCustom({ title: "Phạm vi follower không hợp lệ", icon: 'warning' });
			}

			if(!tokenAmount){
				return AlertCustom({ title: "Bạn cần nhập mức token nhận được", icon: 'warning' });
			}

			$.ajax({
				type: 'PUT',
				url: `<%= CF_ROUTINGS_CAMPAIGN_NEWBORD_FOLLOWER.UPDATE_MILESTONE_CAMPAIGN_NEWBORD_FOLLOWER %>`,
				data: { milestoneID, milestoneName, fromFollower, toFollower, tokenAmount },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return AlertCustom({ title: message, icon: 'warning' });
				}

				AlertCustom({ title: 'Cập nhật mốc thành công', icon: 'success' });
			}).fail(err => AlertCustom({ title: err.message, icon: 'warning' }))

		});

	});
</script>